*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variable */
$color-border: darkgray;
$font-dark: darkgray;
$font-light: #eee;
$bg-main-color: #0dcc5a;

ul,li{
    list-style: none;
}
.inner{
    .container{
        display: flex;
        justify-content: center;
        .mypageReview{
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .mypageReviewCon{
                width: 80%;
                display: flex;
                flex-direction: column;
                gap: 50px;
                #mypageReviewResult ul{
                    display: flex;
                    flex-direction: column;
                    li{
                        width: 100%;
                        height: 70%;
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        padding: 10px;
                        border-bottom: 1px solid $font-light;
                        img{
                            width: 50px;
                            height: 50px;
                            border: 50%
                            ;
                        }
                        .mypageReviewdesc{
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 850px){
    .inner{
        .container{
            .mypageReview{
                width: 100%;
            }
        }
    }
}