@import "./common.scss", "./style.scss";

// mix-in
@mixin verticalBar {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  background: map-get($color, bg-light-gray);
  transition: all 0.3s;
}

#best-auction {
  background: #f9f9f9;
  border-bottom: 1px solid map-get($color, bg-light-gray);
  padding: 80px 0;
  .best-auction-content {
    .section-title {
      @include sectionTitle;
      margin-bottom: 20px;
    }
    .best-auction-slide {
      height: 360px;
      position: relative;
      ul {
        display: flex;
        gap: 25px;
        position: absolute;
        top: 0;
        left: 0;
        li {
          a {
            width: 410px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            border-radius: 10px;
            box-shadow: 0 0 15px map-get($color, bg-light-gray);
            background: map-get($color, bg-light-color);
            overflow: hidden;
            .slide-img {
              width: 100%;
              height: 236px;
              background: url("../images/auction01.png") center/cover no-repeat;
              position: relative;
              .timeEvent {
                position: absolute;
                bottom: 15px;
                left: 15px;
                display: flex;
                align-items: center;
                gap: 5px;
                padding: 6px 12px;
                border-radius: 8px;
                background: map-get($color, bg-sub-color);
                .clock {
                  position: relative;
                  width: 30px;
                  height: 30px;
                  background: url("../images/clock.svg") center/contain
                    no-repeat;
                  animation: vibration 0.2s linear infinite;
                  &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -70%);
                    transform-origin: bottom center;
                    width: 2px;
                    height: 7px;
                    background: map-get($color, bg-light-color);
                    animation: clock 3s linear infinite;
                  }
                }
                span {
                  font: 700 1.8rem/1 "Noto Sans KR", sans-serif;
                  color: map-get($color, bg-light-color);
                }
              }
            }
            .slide-desc {
              padding: 0 14px 20px;
              @include productDesc;
              .desc-title {
                height: 23px;
                line-clamp: 1;
                -webkit-line-clamp: 1;
              }
            }
          }
        }
      }
      .slide-btns {
        @include slideBtns;
        button {
          top: 45%;
        }
        .slidePager {
          @include slidePager;
        }
      }
    }
  }
}
@keyframes clock {
  0% {
    transform: translate(-50%, -70%) rotate(0);
  }
  100% {
    transform: translate(-50%, -70%) rotate(360deg);
  }
}
@keyframes vibration {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

#product-list {
  padding: 100px 0 150px;
  .sorting {
    display: flex;
    align-items: center;
    gap: 20px;
    li {
      font-size: 1.8rem;
      position: relative;
      color: map-get($color, bg-dark-gray);
      cursor: pointer;
      &::after {
        @include verticalBar;
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
      &.active {
        font-weight: 900;
      }
    }
  }
  .product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 30px 0;
    li {
      position: relative;
      a {
        width: 240px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .slide-img {
          width: 100%;
          height: 240px;
          border-radius: 10px;
          overflow: hidden;
          background: url("../images/auction01.png") center/cover no-repeat;
        }
        .slide-desc {
          padding: 0 14px 20px;
          @include productDesc;
          .desc-title {
            height: 23px;
            line-clamp: 1;
            -webkit-line-clamp: 1;
          }
        }
      }
      .badge {
        @include badgeType;
      }
    }
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    button {
      width: 30px;
      height: 30px;
      border: 1px solid map-get($color, bg-light-gray);
      i {
        font-size: 1.6rem;
        color: map-get($color, bg-dark-gray);
      }
      &.mainSlidePause {
        display: block;
        &.active {
          display: none;
        }
      }
      &.mainSlidePlay {
        display: none;
        &.active {
          display: block;
        }
      }
    }
    ul {
      display: flex;
      align-items: center;
      gap: 20px;
      li {
        font-size: 1.6rem;
        position: relative;
        color: map-get($color, bg-dark-gray);
        cursor: pointer;
        &::after {
          @include verticalBar;
          right: -12px;
        }
        &:last-child {
          &::after {
            display: none;
            right: -12px;
          }
        }
        &.active {
          font-weight: 900;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 840px) {
  #best-auction {
    .best-auction-content {
      .best-auction-slide {
        height: 310px;
        ul {
          li {
            a {
              width: 300px;
              display: flex;
              flex-direction: column;
              gap: 15px;
              .slide-img {
                height: 200px;
                .timeEvent {
                  padding: 4px 10px;
                  .clock {
                    width: 25px;
                    height: 25px;
                  }
                }
              }
              .slide-desc {
                @include productDesc;
                .desc-title {
                  height: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
  #product-list {
    .product {
      li {
        a {
          width: 180px;
          .slide-img {
            height: 180px;
          }
          .slide-desc {
            .desc-title {
              height: 18px;
            }
          }
        }
        .badge {
          width: 40px;
          height: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  #product-list {
    .product {
      li {
        a {
          width: 150px;
          .slide-img {
            height: 150px;
          }
          .slide-desc {
            padding: 0 0 20px;
            .desc-title {
              height: 34px;
              line-clamp: 2;
              -webkit-line-clamp: 2;
            }
          }
        }
      }
    }
  }
}
