@import "./reset.scss";

// mixin
@mixin list-a {
  display: inline-block;
  margin-right: 10px;
}

// variables
html {
  font-size: 10px;
}

$main-width: 1280px;

$color: (
  bg-main-color: #0dcc5a,
  bg-sub-color: #0095ee,
  bg-dark-color: #3a3a3a,
  bg-light-color: #fff,
  bg-dark-gray: #6d6d6d,
  bg-light-gray: #dcdcdc,
  main-font-color: #111,
  bar-linear-gradient: linear-gradient(to right, #0dcb5b, #08b980, #02a1af),
);

$fontSize: (
  font-extra-small: 1.2rem,
  font-small: 1.4rem,
  font-medium: 1.6rem,
  font-large: 1.8rem,
  font-extra-large: 2rem,
);

// font
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

body {
  font: 400 1.4rem/1 "Noto Sans KR", sans-serif;
  letter-spacing: -1px;
  color: map-get($color, main-font-color);
}

// layout
.inner {
  width: $main-width;
  height: 100%;
  margin: 0 auto;
}

// Header
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: map-get($color, bg-light-color);
  z-index: 100;
  #banner.ban {
    height: 33px;
    background: map-get($color, bg-dark-color);
    opacity: 1;
    transition: all 0.3s;

    &.active {
      background: map-get($map: $color, $key: bg-light-color);
      opacity: 0;
      height: 0;
    }

    .banner {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: map-get($map: $color, $key: font-light-color);
      font-size: map-get($map: $fontSize, $key: font-extra-small);

      .banner-left {
        display: flex;
        gap: 15px;

        a {
          display: flex;
          gap: 5px;
          span {
            color: map-get($color, bg-light-color);
          }
        }
      }

      .banner-right {
        display: flex;
        gap: 20px;
        a {
          color: map-get($color, bg-light-color);
        }
      }
    }
  }

  #header-item {
    .header-item {
      padding: 25px 0;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .search-box {
          form {
            position: relative;
            border: 1px solid map-get($color, bg-dark-gray);
            border-radius: 50px;
            input[type="text"] {
              width: 550px;
              height: 40px;
              border-radius: 50px;
              padding-left: 20px;
              padding-right: 10px;

              &::placeholder {
                font-size: map-get($map: $fontSize, $key: font-extra-small);
                color: map-get($map: $color, $key: font-dark-gray);
              }
            }

            button {
              position: absolute;
              top: 50%;
              right: 6px;
              transform: translateY(-50%);
              width: 30px;
              height: 30px;
              border-radius: 50px;
              border: none;
              background-color: map-get($map: $color, $key: bg-main-color);
              color: map-get($map: $color, $key: bg-light-color);
              cursor: pointer;
            }
          }
        }

        .wrapper {
          position: relative;

          .popular-searchedWord {
            position: relative;
            width: 193px;
            height: 24px;
            overflow: hidden;

            li {
              position: absolute;
              top: -24px;
              left: 0;
              &.prev {
                top: -24px;
                transition: top 0.5s;
              }
              &.current {
                top: 0;
                transition: top 0.5s;
              }
              &.next {
                top: 24px;
              }

              a span {
                @include list-a;
              }
            }
          }

          .list-btn {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%) rotate(0);
            color: map-get($map: $color, $key: font-dark-gray);
            transition: all 0.3s;

            &.active {
              transform: translateY(-50%) rotate(180deg);
            }
          }

          .list {
            position: absolute;
            top: 20px;
            left: 0;
            width: 100%;
            height: 0;
            display: flex;
            flex-direction: column;
            text-align: left;
            transition: all 0.5s;
            overflow: hidden;

            &.active {
              height: 350px;
              background: map-get($map: $color, $key: bg-light-color);
            }

            li {
              padding-top: 20px;

              a span {
                @include list-a;
              }
            }
          }
        }
      }

      .header-bottom {
        display: flex;
        justify-content: space-between;

        .header-bottom-left {
          display: flex;
          gap: 40px;

          .barmenu {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            padding: 8px 10px;
            background: map-get($map: $color, $key: bg-main-color);
            color: map-get($map: $color, $key: bg-light-color);
            border-radius: 5px;
            cursor: pointer;

            i {
              font-size: 24px;
            }
          }

          .gnb {
            display: flex;
            align-items: center;
            gap: 30px;
            a {
              font-size: 1.6rem;
            }
          }
        }

        .header-bottom-right {
          display: flex;
          align-items: center;
          .lnb {
            display: flex;
            gap: 12px;

            li a {
              display: flex;
              align-items: center;

              img {
                margin-right: 4px;
              }
            }
          }
        }
      }
    }
  }
}

// contents
.container {
  width: 100%;
  margin-top: 185px;
}

// Footer
footer {
  background: #3a3a3a;
  color: #fff;
  .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    height: 404px;
    .footer-upper {
      display: flex;
      justify-content: space-between;
      font-size: 1.4rem;
      .footer-upper-info {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .footer-company-guide ul {
          display: flex;
          gap: 20px;
        }
        .footer-company-info ul {
          display: flex;
          flex-direction: column;
          gap: 10px;
          font-style: normal;
        }
      }
    }
    .footer-lower {
      display: flex;
      justify-content: space-between;
      font-size: 1.2rem;
      line-height: 1.4;
      .footer-lower-logo {
        width: 180px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        i {
          font-size: 15px;
        }
      }
    }
  }
}

// responsive
@media screen and (max-width: 1280px) {
  .inner {
    width: 100%;
    padding: 0 10px;
  }
}

@media screen and (max-width: 840px) {
  // footer
  footer {
    .inner {
      .footer-upper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        gap: 20px;
        .footer-upper-info {
          justify-content: center;
          align-items: center;
          text-align: center;
          .footer-company-guide ul {
            gap: 10px;
            flex-wrap: wrap;
            justify-content: center;
          }
        }
      }
      .footer-lower {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 8px;
  }
}
