@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
  padding-left: 10px;
  transition: all 0.3s;
}
input::-moz-placeholder {
  opacity: 1;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
input::placeholder {
  opacity: 1;
  transition: all 0.3s;
}
input:focus {
  outline: none;
}
input:focus::-moz-placeholder {
  opacity: 0;
}
input:focus::placeholder {
  opacity: 0;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  font: 400 1.3rem/1 "Noto Sans KR", sans-serif;
}

html {
  font-size: 10px;
}

body {
  font: 400 1.4rem/1 "Noto Sans KR", sans-serif;
  letter-spacing: -1px;
  color: #111;
}

.inner {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 100;
}
#header #banner.ban {
  height: 33px;
  background: #3a3a3a;
  opacity: 1;
  transition: all 0.3s;
}
#header #banner.ban.active {
  background: #fff;
  opacity: 0;
  height: 0;
}
#header #banner.ban .banner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}
#header #banner.ban .banner .banner-left {
  display: flex;
  gap: 15px;
}
#header #banner.ban .banner .banner-left a {
  display: flex;
  gap: 5px;
}
#header #banner.ban .banner .banner-left a span {
  color: #fff;
}
#header #banner.ban .banner .banner-right {
  display: flex;
  gap: 20px;
}
#header #banner.ban .banner .banner-right a {
  color: #fff;
}
#header #header-item .header-item {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#header #header-item .header-item .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header #header-item .header-item .header-top .search-box form {
  position: relative;
  border: 1px solid #6d6d6d;
  border-radius: 50px;
}
#header #header-item .header-item .header-top .search-box form input[type=text] {
  width: 550px;
  height: 40px;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 10px;
}
#header #header-item .header-item .header-top .search-box form input[type=text]::-moz-placeholder {
  font-size: 1.2rem;
}
#header #header-item .header-item .header-top .search-box form input[type=text]::placeholder {
  font-size: 1.2rem;
}
#header #header-item .header-item .header-top .search-box form button {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: none;
  background-color: #0dcc5a;
  color: #fff;
  cursor: pointer;
}
#header #header-item .header-item .header-top .wrapper {
  position: relative;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord {
  position: relative;
  width: 193px;
  height: 24px;
  overflow: hidden;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord li {
  position: absolute;
  top: -24px;
  left: 0;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord li.prev {
  top: -24px;
  transition: top 0.5s;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord li.current {
  top: 0;
  transition: top 0.5s;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord li.next {
  top: 24px;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord li a span {
  display: inline-block;
  margin-right: 10px;
}
#header #header-item .header-item .header-top .wrapper .list-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(0);
  transition: all 0.3s;
}
#header #header-item .header-item .header-top .wrapper .list-btn.active {
  transform: translateY(-50%) rotate(180deg);
}
#header #header-item .header-item .header-top .wrapper .list {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  transition: all 0.5s;
  overflow: hidden;
}
#header #header-item .header-item .header-top .wrapper .list.active {
  height: 350px;
  background: #fff;
}
#header #header-item .header-item .header-top .wrapper .list li {
  padding-top: 20px;
}
#header #header-item .header-item .header-top .wrapper .list li a span {
  display: inline-block;
  margin-right: 10px;
}
#header #header-item .header-item .header-bottom {
  display: flex;
  justify-content: space-between;
}
#header #header-item .header-item .header-bottom .header-bottom-left {
  display: flex;
  gap: 40px;
}
#header #header-item .header-item .header-bottom .header-bottom-left .barmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 8px 10px;
  background: #0dcc5a;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
#header #header-item .header-item .header-bottom .header-bottom-left .barmenu i {
  font-size: 24px;
}
#header #header-item .header-item .header-bottom .header-bottom-left .gnb {
  display: flex;
  align-items: center;
  gap: 30px;
}
#header #header-item .header-item .header-bottom .header-bottom-left .gnb a {
  font-size: 1.6rem;
}
#header #header-item .header-item .header-bottom .header-bottom-right {
  display: flex;
  align-items: center;
}
#header #header-item .header-item .header-bottom .header-bottom-right .lnb {
  display: flex;
  gap: 12px;
}
#header #header-item .header-item .header-bottom .header-bottom-right .lnb li a {
  display: flex;
  align-items: center;
}
#header #header-item .header-item .header-bottom .header-bottom-right .lnb li a img {
  margin-right: 4px;
}

.container {
  width: 100%;
  margin-top: 185px;
}

footer {
  background: #3a3a3a;
  color: #fff;
}
footer .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  height: 404px;
}
footer .inner .footer-upper {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}
footer .inner .footer-upper .footer-upper-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer .inner .footer-upper .footer-upper-info .footer-company-guide ul {
  display: flex;
  gap: 20px;
}
footer .inner .footer-upper .footer-upper-info .footer-company-info ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-style: normal;
}
footer .inner .footer-lower {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  line-height: 1.4;
}
footer .inner .footer-lower .footer-lower-logo {
  width: 180px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
footer .inner .footer-lower .footer-lower-logo i {
  font-size: 15px;
}

@media screen and (max-width: 1280px) {
  .inner {
    width: 100%;
    padding: 0 10px;
  }
}
@media screen and (max-width: 840px) {
  footer .inner .footer-upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 20px;
  }
  footer .inner .footer-upper .footer-upper-info {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer .inner .footer-upper .footer-upper-info .footer-company-guide ul {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .inner .footer-lower {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 8px;
  }
}