@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
  padding-left: 10px;
  transition: all 0.3s;
}
input::-moz-placeholder {
  opacity: 1;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
input::placeholder {
  opacity: 1;
  transition: all 0.3s;
}
input:focus {
  outline: none;
}
input:focus::-moz-placeholder {
  opacity: 0;
}
input:focus::placeholder {
  opacity: 0;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  font: 400 1.3rem/1 "Noto Sans KR", sans-serif;
}

html {
  font-size: 10px;
}

body {
  font: 400 1.4rem/1 "Noto Sans KR", sans-serif;
  letter-spacing: -1px;
  color: #111;
}

.inner {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 17px);
  background: #fff;
  z-index: 100;
}
#header #banner.ban {
  height: 33px;
  background: #3a3a3a;
  opacity: 1;
  transition: all 0.3s;
}
#header #banner.ban.active {
  background: #fff;
  opacity: 0;
  height: 0;
}
#header #banner.ban .banner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}
#header #banner.ban .banner .banner-left {
  display: flex;
  gap: 15px;
}
#header #banner.ban .banner .banner-left a {
  display: flex;
  gap: 5px;
}
#header #banner.ban .banner .banner-left a span {
  color: #fff;
  transition: color 0.3s;
}
#header #banner.ban .banner .banner-left a:hover span {
  color: #bbb;
}
#header #banner.ban .banner .banner-right {
  display: flex;
  gap: 20px;
}
#header #banner.ban .banner .banner-right a {
  color: #fff;
  transition: color 0.3s;
}
#header #banner.ban .banner .banner-right a:hover {
  color: #0dcc5a;
}
#header #header-item .header-item {
  width: 1280px;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#header #header-item .header-item .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header #header-item .header-item .header-top .search-box form {
  position: relative;
  border: 1px solid #6d6d6d;
  border-radius: 50px;
}
#header #header-item .header-item .header-top .search-box form input[type=text] {
  width: 550px;
  height: 40px;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 10px;
}
#header #header-item .header-item .header-top .search-box form input[type=text]::-moz-placeholder {
  font-size: 1.2rem;
  font-weight: 500;
  color: #bbb;
}
#header #header-item .header-item .header-top .search-box form input[type=text]::placeholder {
  font-size: 1.2rem;
  font-weight: 500;
  color: #bbb;
}
#header #header-item .header-item .header-top .search-box form input[type=submit] {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background: url("../images/detail/search.png") center/cover no-repeat;
  border-radius: 50px;
  border: none;
  background-color: linear-gradient(to right, #0dcb5b, #08b980, #02a1af);
  color: #fff;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
#header #header-item .header-item .header-top .search-box form input[type=submit]:hover {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}
#header #header-item .header-item .header-top .search-box form .searchedword-list {
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 15px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  display: none;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .recent-words h3 {
  font-size: 14px;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .recent-words .recent-list {
  width: 100%;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .recent-words .recent-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .recent-words .recent-list li .recent-word {
  color: #bbb;
  font-weight: 500;
  transition: all 0.3s;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .recent-words .recent-list li .recent-box {
  display: flex;
  align-items: center;
  gap: 15px;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .recent-words .recent-list li .recent-box button {
  font-size: 1.8rem;
  color: #bbb;
  transition: color 0.3s;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .recent-words .recent-list li .recent-box button:hover {
  color: #3a3a3a;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .recent-words .recent-list li:hover .recent-word {
  color: #3a3a3a;
  font-weight: 600;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .live-ranking h3 {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 15px;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .live-ranking h3 .current-time {
  font-size: 13px;
  margin-left: 30px;
  color: #aaa;
  font-weight: 400;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .live-ranking .ranking-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "rank1 rank6" "rank2 rank7" "rank3 rank8" "rank4 rank9" "rank5 rank10";
  position: relative;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .live-ranking .ranking-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background: #dcdcdc;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .live-ranking .ranking-list li {
  padding: 10px 20px;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .live-ranking .ranking-list li:hover {
  transform: scale(1.02);
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .live-ranking .ranking-list li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .live-ranking .ranking-list li a span {
  display: inline-block;
  margin-right: 10px;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .live-ranking .ranking-list li > span .fa-caret-up {
  color: #0dcc5a;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list.active {
  display: block;
}
#header #header-item .header-item .header-top .wrapper {
  position: relative;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord {
  position: relative;
  width: 250px;
  height: 24px;
  overflow: hidden;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord ul {
  width: 100%;
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord ul li {
  position: absolute;
  top: -24px;
  left: 0;
  width: 100%;
  height: 24px;
  padding-left: 20px;
  line-height: 24px;
  cursor: pointer;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord ul li.prev {
  top: -24px;
  transition: top 0.5s;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord ul li.current {
  top: 0;
  transition: top 0.5s;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord ul li.next {
  top: 24px;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord ul li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord ul li a span {
  display: inline-block;
  margin-right: 10px;
}
#header #header-item .header-item .header-top .wrapper .list-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(0);
  transition: all 0.3s;
}
#header #header-item .header-item .header-top .wrapper .list-btn.active {
  transform: translateY(-50%) rotate(180deg);
}
#header #header-item .header-item .header-top .wrapper .list {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 0;
  margin-top: 15px;
  padding: 0 20px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  text-align: left;
  transition: all 0.5s;
  overflow: hidden;
}
#header #header-item .header-item .header-top .wrapper .list.active {
  height: 468px;
  background: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
#header #header-item .header-item .header-top .wrapper .list li {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s;
}
#header #header-item .header-item .header-top .wrapper .list li:hover {
  transform: scale(1.02);
}
#header #header-item .header-item .header-top .wrapper .list li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#header #header-item .header-item .header-top .wrapper .list li a span {
  display: inline-block;
  margin-right: 10px;
}
#header #header-item .header-item .header-top .wrapper .list li > span .fa-sort-down {
  color: #dcdcdc;
}
#header #header-item .header-item .header-top .wrapper .list li > span .fa-caret-up {
  color: #0dcc5a;
}
#header #header-item .header-item .header-bottom {
  display: flex;
  justify-content: space-between;
}
#header #header-item .header-item .header-bottom .header-bottom-left {
  display: flex;
  gap: 40px;
}
#header #header-item .header-item .header-bottom .header-bottom-left .barmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 10px;
  background: linear-gradient(to right, #0dcb5b, #08b980, #02a1af);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
#header #header-item .header-item .header-bottom .header-bottom-left .barmenu:hover {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}
#header #header-item .header-item .header-bottom .header-bottom-left .barmenu i {
  font-size: 24px;
}
#header #header-item .header-item .header-bottom .header-bottom-left .gnb {
  display: flex;
  align-items: center;
  gap: 30px;
}
#header #header-item .header-item .header-bottom .header-bottom-left .gnb a {
  font-size: 1.6rem;
  font-weight: 500;
  transition: color 0.3s;
}
#header #header-item .header-item .header-bottom .header-bottom-left .gnb a:hover {
  color: #0dcc5a;
}
#header #header-item .header-item .header-bottom .header-bottom-right {
  display: flex;
  align-items: center;
}
#header #header-item .header-item .header-bottom .header-bottom-right .lnb {
  display: flex;
  gap: 12px;
}
#header #header-item .header-item .header-bottom .header-bottom-right .lnb li a {
  display: flex;
  align-items: center;
}
#header #header-item .header-item .header-bottom .header-bottom-right .lnb li a img {
  margin-right: 4px;
  transition: filter 0.3s;
}
#header #header-item .header-item .header-bottom .header-bottom-right .lnb li a:hover img {
  filter: invert(100%);
}

#header-category .inner {
  position: relative;
}
#header-category .inner .header-category {
  position: absolute;
  top: -22px;
  left: 0;
  width: 180px;
  background: #fff;
}
#header-category .inner .header-category .main-category {
  font-size: 1.2rem;
  display: none;
}
#header-category .inner .header-category .main-category.active {
  display: block;
}
#header-category .inner .header-category .main-category li {
  padding: 10px 20px;
  color: #3a3a3a;
  font-weight: 400;
  cursor: pointer;
}
#header-category .inner .header-category .main-category li a {
  position: relative;
}
#header-category .inner .header-category .main-category li a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  width: 3px;
  height: 120%;
  background: #0dcc5a;
  border-radius: 5px;
  display: none;
}
#header-category .inner .header-category .main-category li:hover {
  background: #e2f5ea;
  font-weight: 600;
}
#header-category .inner .header-category .main-category li:hover > a::before {
  display: block;
}
#header-category .inner .header-category .main-category li .sub-category1 {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #e2f5ea;
  display: none;
}
#header-category .inner .header-category .main-category li .sub-category1.active {
  display: block;
}
#header-category .inner .header-category .main-category li .sub-category1 li:hover {
  text-decoration: underline;
  background: #fff;
}
#header-category .inner .header-category .main-category li .sub-category1 li .sub-category2 {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #e2f5ea;
  display: none;
}
#header-category .inner .header-category .main-category li .sub-category1 li .sub-category2.active {
  display: block;
}

#bottom-memu {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  z-index: 9999;
  display: none;
}
#bottom-memu .bottom-mmenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mobile-menu {
  display: none;
  background: #fff;
}
#mobile-menu .mobile-menu {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#mobile-menu .mobile-menu .menu-box {
  display: flex;
  gap: 25px;
}
#mobile-menu .mobile-menu .menu-box a {
  font-size: 25px;
}

#mobile-category {
  background: #fff;
  height: 100vh;
  display: none;
}
#mobile-category h3 {
  padding: 10px;
  margin: 2% 0 15px 2%;
  font-size: 2rem;
}
#mobile-category ul {
  display: none;
  flex-wrap: wrap;
}
#mobile-category ul li {
  width: 20%;
  height: 20%;
  display: flex;
  flex-direction: column;
}
#mobile-category ul li .category-img {
  width: 100%;
  height: 100%;
}
#mobile-category ul li .category-img .img-box {
  width: 100%;
  height: 100%;
}
#mobile-category ul li .category-img .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#mobile-category ul li .category-img span {
  display: block;
  padding: 15px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
}
#mobile-category ul li .category-sub {
  width: 500%;
  display: none;
  padding: 10px 15px;
  background: #eee;
}
#mobile-category ul li .category-sub ul {
  display: flex;
  flex-wrap: wrap;
}
#mobile-category ul li .category-sub ul li {
  width: 50%;
  padding: 15px 10px;
  font-size: 1.8rem;
  transition: -webkit-text-decoration 0.3s;
  transition: text-decoration 0.3s;
  transition: text-decoration 0.3s, -webkit-text-decoration 0.3s;
}
#mobile-category ul li .category-sub ul li:hover {
  text-decoration: underline;
}
#mobile-category ul li .category-sub.active {
  display: block;
}
#mobile-category.active {
  display: block;
  position: fixed;
  top: 57px;
  left: 0;
  z-index: 3;
}

#mobile-search {
  position: fixed;
  top: 57px;
}

.container {
  width: 100%;
  margin-top: 185px;
}

.pay {
  display: inline-block;
  width: 35px;
  height: 20px;
  background: #0dcc5a;
  border-radius: 3px;
  font-size: 1.4rem;
  color: #fff;
  letter-spacing: normal;
  text-align: center;
}

footer {
  background: #3a3a3a;
  color: #fff;
}
footer .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  height: 404px;
}
footer .inner .footer-upper {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}
footer .inner .footer-upper .footer-upper-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer .inner .footer-upper .footer-upper-info .footer-company-guide ul {
  display: flex;
  gap: 20px;
}
footer .inner .footer-upper .footer-upper-info .footer-company-info ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-style: normal;
}
footer .inner .footer-lower {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  line-height: 1.4;
}
footer .inner .footer-lower .footer-lower-logo {
  width: 180px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
footer .inner .footer-lower .footer-lower-logo i {
  font-size: 15px;
}

@media screen and (max-width: 1280px) {
  .inner {
    width: 100%;
    padding: 0 2%;
  }
}
@media screen and (max-width: 840px) {
  html {
    font-size: 8px;
  }
  #mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
  }
  #mobile-category {
    display: none;
  }
  #mobile-category ul {
    display: flex;
  }
  footer .inner .footer-upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 20px;
  }
  footer .inner .footer-upper .footer-upper-info {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer .inner .footer-upper .footer-upper-info .footer-company-guide ul {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .inner .footer-lower {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}
@media screen and (max-width: 450px) {
  #mobile-menu .mobile-menu a img {
    width: 115px;
    height: 22px;
  }
  #mobile-menu .mobile-menu .menu-box {
    gap: 20px;
  }
  #mobile-menu .mobile-menu .menu-box a {
    font-size: 16px;
  }
  #mobile-category h3 {
    font-size: 1.4rem;
  }
  #mobile-category ul li .category-img span {
    width: 78px;
    padding: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.4rem;
  }
  #mobile-category ul li .category-sub ul li {
    padding: 12px 0;
    font-size: 1.6rem;
  }
  #mobile-category.active {
    top: 37px;
  }
}
.faq {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.faq h1 {
  font-size: 2.6rem;
}
.faq .accordion {
  width: 900px;
  padding: 50px 0;
  border-top: 1px solid #3a3a3a;
}
.faq .accordion .title {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid #dcdcdc;
  cursor: pointer;
  transition: all 0.3s;
}
.faq .accordion .title::after {
  content: "+";
  font-family: "fontawesome";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.faq .accordion .title.active {
  box-shadow: 0 0 5px #dcdcdc;
}
.faq .accordion .title.active::after {
  content: "+";
  font-family: "fontawesome";
  transform: translateY(-50%) rotate(45deg);
}
.faq .accordion .title p {
  font: 400 1.6rem/1 "Noto Sans KR", sans-serif;
}
.faq .accordion .content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0 20px;
  background: #eee;
  transition: all 0.3s;
}
.faq .accordion .content p {
  font: 400 1.4rem/1.5 "Noto Sans KR", sans-serif;
}
.faq .accordion .content p b {
  color: #6d6d6d;
}
.faq .accordion .content.active {
  padding: 20px;
  max-height: revert;
  opacity: 1;
}

@media screen and (max-width: 1280px) {
  .faq .accordion {
    width: 100%;
  }
}