@import "./common.scss";

/* variable */
$color-border: darkgray;
$font-dark: darkgray;
$font-light: #eee;
$bg-main-color: #0dcc5a;

.inner {
  .container {
    width: 100%;
    display: flex;
    justify-content: center;

    .login {
      width: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 100px 0 150px;

      .login-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
        .login-header-desc {
          color: $font-dark;
        }
      }
      .login-main {
        width: 100%;
        margin: 20px;
        padding: 30px auto;
        .login-main-npt {
          width: 100%;
          display: flex;
          flex-direction: column;
          padding: 10px;
          gap: 15px;
          form ul {
            display: flex;
            flex-direction: column;
            gap: 15px;
            li {
              width: 100%;
              height: 40px;
              color: $font-dark;
              border: 1px solid $color-border;
              padding: 10px;
            }
          }
          .login-main-checkbox {
            display: flex;
            gap: 10px;
            // padding-left: 10px;
            padding: 0 0 10px 10px;
          }
          #login-button {
            width: 100%;
            height: 40px;
            background: $bg-main-color;
            color: $font-light;
            font: bold 1.6rem/1 "notosans";
            cursor: pointer;
          }
        }
        .login-main-srt ul {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          margin: 10px 0 30px;
        }
        .login-main-nthr {
          width: calc(100% - 20px);
          height: 150px;
          margin: 0 auto;
          padding: 20px;
          border: none;
          border-top: 1px solid $color-border;
          border-bottom: 1px solid $color-border;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 30px;
          .login-main-nthr-logo ul {
            display: flex;
            gap: 18px;
            li {
              width: 45px;
              height: 45px;
              border-radius: 50%;
              overflow: hidden;
              a {
                display: inline-block;
                width: 100%;
                height: 100%;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  transform: scale(1);
                  transition: all 0.3s;
                }
                &:hover {
                  img {
                    transform: scale(1.04);
                  }
                }
              }
            }
          }
        }
      }
      .login-footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        line-height: 2rem;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .inner {
    .container {
      .login {
        width: 100%;
      }
    }
  }
}
