@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
  padding-left: 10px;
  transition: all 0.3s;
}
input::-moz-placeholder {
  opacity: 1;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
input::placeholder {
  opacity: 1;
  transition: all 0.3s;
}
input:focus {
  outline: none;
}
input:focus::-moz-placeholder {
  opacity: 0;
}
input:focus::placeholder {
  opacity: 0;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  font: 400 1.3rem/1 "Noto Sans KR", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
  padding-left: 10px;
  transition: all 0.3s;
}
input::-moz-placeholder {
  opacity: 1;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
input::placeholder {
  opacity: 1;
  transition: all 0.3s;
}
input:focus {
  outline: none;
}
input:focus::-moz-placeholder {
  opacity: 0;
}
input:focus::placeholder {
  opacity: 0;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  font: 400 1.3rem/1 "Noto Sans KR", sans-serif;
}

html {
  font-size: 10px;
}

body {
  font: 400 1.4rem/1 "Noto Sans KR", sans-serif;
  letter-spacing: -1px;
  color: #111;
  overflow-x: hidden;
}

.inner {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 17px);
  background: #fff;
  z-index: 100;
}
#header #banner.ban {
  height: 33px;
  background: #3a3a3a;
  opacity: 1;
  transition: all 0.3s;
}
#header #banner.ban.active {
  background: #fff;
  opacity: 0;
  height: 0;
}
#header #banner.ban .banner {
  width: 1280px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}
#header #banner.ban .banner .banner-left {
  display: flex;
  gap: 15px;
}
#header #banner.ban .banner .banner-left > div {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  cursor: pointer;
}
#header #banner.ban .banner .banner-left > div span {
  color: #fff;
  transition: color 0.3s;
}
#header #banner.ban .banner .banner-left > div .download-box {
  position: absolute;
  bottom: -35px;
  left: 0;
  width: 210%;
  height: 25px;
  display: flex;
  align-items: center;
  transition: bottom 0.3s;
  display: none;
}
#header #banner.ban .banner .banner-left > div .download-box a {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 4px;
  font-size: 17px;
  transition: background 0.3s;
  border-radius: 3px;
}
#header #banner.ban .banner .banner-left > div .download-box a:hover {
  background: #eee;
}
#header #banner.ban .banner .banner-left > div .download-box a span {
  color: #000;
  font-size: 1.2rem;
}
#header #banner.ban .banner .banner-left > div .download-box.active {
  display: flex;
}
#header #banner.ban .banner .banner-left > div:hover span {
  color: #0dcc5a;
}
#header #banner.ban .banner .banner-right {
  display: flex;
  gap: 20px;
}
#header #banner.ban .banner .banner-right a {
  color: #fff;
  transition: color 0.3s;
}
#header #banner.ban .banner .banner-right a:hover {
  color: #0dcc5a;
}
#header #header-item .header-item {
  width: 1280px;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#header #header-item .header-item .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header #header-item .header-item .header-top .search-box form {
  position: relative;
  border: 1px solid #6d6d6d;
  border-radius: 50px;
}
#header #header-item .header-item .header-top .search-box form input[type=text] {
  width: 550px;
  height: 40px;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 10px;
}
#header #header-item .header-item .header-top .search-box form input[type=text]::-moz-placeholder {
  font-size: 1.2rem;
  font-weight: 500;
  color: #bbb;
}
#header #header-item .header-item .header-top .search-box form input[type=text]::placeholder {
  font-size: 1.2rem;
  font-weight: 500;
  color: #bbb;
}
#header #header-item .header-item .header-top .search-box form input[type=submit] {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background: url("../images/detail/search.png") center/cover no-repeat;
  border-radius: 50px;
  border: none;
  background-color: linear-gradient(to right, #0dcb5b, #08b980, #02a1af);
  color: #fff;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
#header #header-item .header-item .header-top .search-box form input[type=submit]:hover {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}
#header #header-item .header-item .header-top .search-box form .searchedword-list {
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 15px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  display: none;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .recent-words h3 {
  font-size: 14px;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .recent-words .recent-list {
  width: 100%;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .recent-words .recent-list .no-words {
  font-size: 1.4rem;
  color: #bbb;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .recent-words .recent-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .recent-words .recent-list li .recent-word {
  color: #bbb;
  font-weight: 500;
  transition: all 0.3s;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .recent-words .recent-list li .recent-box {
  display: flex;
  align-items: center;
  gap: 15px;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .recent-words .recent-list li .recent-box button {
  font-size: 1.8rem;
  color: #bbb;
  transition: color 0.3s;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .recent-words .recent-list li .recent-box button:hover {
  color: #3a3a3a;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .recent-words .recent-list li:hover .recent-word {
  color: #3a3a3a;
  font-weight: 600;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .live-ranking h3 {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 15px;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .live-ranking h3 .current-time {
  font-size: 13px;
  margin-left: 30px;
  color: #aaa;
  font-weight: 400;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .live-ranking .ranking-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "rank1 rank6" "rank2 rank7" "rank3 rank8" "rank4 rank9" "rank5 rank10";
  position: relative;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .live-ranking .ranking-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background: #dcdcdc;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .live-ranking .ranking-list li {
  padding: 10px 20px;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .live-ranking .ranking-list li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .live-ranking .ranking-list li a span {
  display: inline-block;
  margin-right: 10px;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list .live-ranking .ranking-list li > span .fa-caret-up {
  color: #0dcc5a;
}
#header #header-item .header-item .header-top .search-box form .searchedword-list.active {
  display: block;
}
#header #header-item .header-item .header-top .wrapper {
  position: relative;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord {
  position: relative;
  width: 250px;
  height: 24px;
  overflow: hidden;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord ul {
  width: 100%;
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord ul li {
  position: absolute;
  top: -24px;
  left: 0;
  width: 100%;
  height: 24px;
  padding-left: 20px;
  line-height: 24px;
  cursor: pointer;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord ul li.prev {
  top: -24px;
  transition: top 0.5s;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord ul li.current {
  top: 0;
  transition: top 0.5s;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord ul li.next {
  top: 24px;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord ul li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord ul li a span {
  display: inline-block;
  margin-right: 10px;
}
#header #header-item .header-item .header-top .wrapper .list-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(0);
  transition: all 0.3s;
}
#header #header-item .header-item .header-top .wrapper .list-btn.active {
  transform: translateY(-50%) rotate(180deg);
}
#header #header-item .header-item .header-top .wrapper .list {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 0;
  margin-top: 15px;
  padding: 0 20px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  text-align: left;
  transition: all 0.5s;
  overflow: hidden;
}
#header #header-item .header-item .header-top .wrapper .list.active {
  height: 468px;
  background: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
#header #header-item .header-item .header-top .wrapper .list li {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s;
}
#header #header-item .header-item .header-top .wrapper .list li:hover {
  transform: scale(1.02);
}
#header #header-item .header-item .header-top .wrapper .list li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#header #header-item .header-item .header-top .wrapper .list li a span {
  display: inline-block;
  margin-right: 10px;
}
#header #header-item .header-item .header-top .wrapper .list li > span .fa-sort-down {
  color: #dcdcdc;
}
#header #header-item .header-item .header-top .wrapper .list li > span .fa-caret-up {
  color: #0dcc5a;
}
#header #header-item .header-item .header-bottom {
  display: flex;
  justify-content: space-between;
}
#header #header-item .header-item .header-bottom .header-bottom-left {
  display: flex;
  gap: 40px;
}
#header #header-item .header-item .header-bottom .header-bottom-left .barmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 10px;
  background: #0dcc5a;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
#header #header-item .header-item .header-bottom .header-bottom-left .barmenu:hover {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}
#header #header-item .header-item .header-bottom .header-bottom-left .barmenu i {
  font-size: 24px;
}
#header #header-item .header-item .header-bottom .header-bottom-left .gnb {
  display: flex;
  align-items: center;
  gap: 30px;
}
#header #header-item .header-item .header-bottom .header-bottom-left .gnb a {
  font-size: 1.6rem;
  font-weight: 500;
  transition: color 0.3s;
}
#header #header-item .header-item .header-bottom .header-bottom-left .gnb a:hover {
  color: #0dcc5a;
}
#header #header-item .header-item .header-bottom .header-bottom-right {
  display: flex;
  align-items: center;
}
#header #header-item .header-item .header-bottom .header-bottom-right .lnb {
  display: flex;
  gap: 12px;
}
#header #header-item .header-item .header-bottom .header-bottom-right .lnb li a {
  display: flex;
  align-items: center;
  transition: color 0.3s;
}
#header #header-item .header-item .header-bottom .header-bottom-right .lnb li a img {
  margin-right: 4px;
}
#header #header-item .header-item .header-bottom .header-bottom-right .lnb li a:hover {
  color: #0dcc5a;
  font-weight: bold;
}

#header-category .inner {
  position: relative;
}
#header-category .inner .header-category {
  position: absolute;
  top: -22px;
  left: 0;
  width: 180px;
  background: #fff;
}
#header-category .inner .header-category .main-category {
  font-size: 1.2rem;
  display: none;
}
#header-category .inner .header-category .main-category.active {
  display: block;
}
#header-category .inner .header-category .main-category li {
  padding: 10px 20px;
  color: #3a3a3a;
  font-weight: 400;
  cursor: pointer;
}
#header-category .inner .header-category .main-category li a {
  position: relative;
}
#header-category .inner .header-category .main-category li a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  width: 3px;
  height: 120%;
  background: #0dcc5a;
  border-radius: 5px;
  display: none;
}
#header-category .inner .header-category .main-category li:hover {
  background: #f5f5f5;
  font-weight: 600;
}
#header-category .inner .header-category .main-category li:hover > a::before {
  display: block;
}
#header-category .inner .header-category .main-category li .sub-category1 {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  display: none;
}
#header-category .inner .header-category .main-category li .sub-category1.active {
  display: block;
}
#header-category .inner .header-category .main-category li .sub-category1 li:hover {
  text-decoration: underline;
  background: #fff;
}
#header-category .inner .header-category .main-category li .sub-category1 li .sub-category2 {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  display: none;
}
#header-category .inner .header-category .main-category li .sub-category1 li .sub-category2.active {
  display: block;
}

#bottom-memu {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  z-index: 9999;
  display: none;
}
#bottom-memu .bottom-mmenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mobile-menu {
  display: none;
  background: #fff;
}
#mobile-menu .mobile-menu {
  width: 100%;
  padding: 10px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#mobile-menu .mobile-menu .menu-box {
  display: flex;
  align-items: center;
  gap: 25px;
}
#mobile-menu .mobile-menu .menu-box button {
  font-size: 22px;
}
#mobile-menu .mobile-menu .menu-box button:first-child.active {
  display: none;
}
#mobile-menu .mobile-menu .menu-box button:last-child {
  width: 22px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#mobile-menu .mobile-menu .menu-box button:last-child span {
  position: absolute;
  width: 100%;
  height: 3px;
  background: #3a3a3a;
  border-radius: 5px;
}
#mobile-menu .mobile-menu .menu-box button:last-child span:nth-child(1) {
  top: 0%;
}
#mobile-menu .mobile-menu .menu-box button:last-child span:nth-child(2) {
  top: 50%;
}
#mobile-menu .mobile-menu .menu-box button:last-child span:nth-child(3) {
  top: 100%;
}
#mobile-menu .mobile-menu .menu-box button:last-child.active span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
#mobile-menu .mobile-menu .menu-box button:last-child.active span:nth-child(2) {
  display: none;
}
#mobile-menu .mobile-menu .menu-box button:last-child.active span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

#mobile-category {
  background: #fff;
  height: 100vh;
  display: none;
}
#mobile-category h3 {
  padding: 10px;
  margin: 2% 0 15px 2%;
  font-size: 2rem;
}
#mobile-category ul {
  display: none;
  flex-wrap: wrap;
}
#mobile-category ul li {
  width: 20%;
  height: 20%;
  display: flex;
  flex-direction: column;
}
#mobile-category ul li .category-img {
  width: 100%;
  height: 100%;
}
#mobile-category ul li .category-img .img-box {
  width: 100%;
  height: 100%;
}
#mobile-category ul li .category-img .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#mobile-category ul li .category-img span {
  display: block;
  padding: 15px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
}
#mobile-category ul li .category-sub {
  width: 500%;
  display: none;
  padding: 10px 15px;
  background: #f5f5f5;
}
#mobile-category ul li .category-sub ul {
  display: flex;
  flex-wrap: wrap;
}
#mobile-category ul li .category-sub ul li {
  width: 50%;
  padding: 15px 10px;
  font-size: 1.8rem;
  transition: -webkit-text-decoration 0.3s;
  transition: text-decoration 0.3s;
  transition: text-decoration 0.3s, -webkit-text-decoration 0.3s;
}
#mobile-category ul li .category-sub ul li:hover {
  text-decoration: underline;
}
#mobile-category ul li .category-sub.active {
  display: block;
}
#mobile-category.active {
  display: block;
  position: fixed;
  top: 57px;
  left: 0;
  z-index: 3;
}

#mobile-search {
  width: 100%;
  height: 100vh;
  padding: 10px 20px;
  background: #fff;
  display: none;
}
#mobile-search .search-box {
  position: relative;
  margin-bottom: 20px;
}
#mobile-search .search-box form {
  display: flex;
}
#mobile-search .search-box form button {
  font-size: 22px;
  padding: 0 15px;
}
#mobile-search .search-box form input[type=text] {
  width: 100%;
  height: 35px;
  background: #eee;
  border-radius: 20px;
  padding-left: 20px;
}
#mobile-search .search-box form input[type=submit] {
  position: absolute;
  top: 3px;
  right: 5px;
  width: 29px;
  height: 29px;
  background: url("../images/detail/search.png") center/cover no-repeat;
  border-radius: 50px;
  border: none;
  background-color: linear-gradient(to right, #0dcb5b, #08b980, #02a1af);
  color: #fff;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
#mobile-search .search-box form input[type=submit]:hover {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}
#mobile-search .searchedword-list .recent-words {
  margin-bottom: 20px;
}
#mobile-search .searchedword-list .recent-words h3 {
  font-size: 2rem;
  margin-bottom: 15px;
}
#mobile-search .searchedword-list .recent-words .recent-list {
  width: 100%;
}
#mobile-search .searchedword-list .recent-words .recent-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
}
#mobile-search .searchedword-list .recent-words .recent-list li .recent-word {
  color: #bbb;
  font-weight: 500;
  transition: all 0.3s;
}
#mobile-search .searchedword-list .recent-words .recent-list li .recent-box {
  display: flex;
  align-items: center;
  gap: 15px;
}
#mobile-search .searchedword-list .recent-words .recent-list li .recent-box button {
  font-size: 1.8rem;
  color: #bbb;
  transition: color 0.3s;
}
#mobile-search .searchedword-list .recent-words .recent-list li .recent-box button:hover {
  color: #3a3a3a;
}
#mobile-search .searchedword-list .recent-words .recent-list li:hover .recent-word {
  color: #3a3a3a;
  font-weight: 600;
}
#mobile-search .searchedword-list .recommendedwords {
  margin-bottom: 20px;
}
#mobile-search .searchedword-list .recommendedwords h3 {
  font-size: 2rem;
  margin-bottom: 15px;
}
#mobile-search .searchedword-list .recommendedwords ul {
  display: flex;
  gap: 5px;
}
#mobile-search .searchedword-list .recommendedwords ul li {
  padding: 10px 20px;
  border-radius: 20px;
  background: #eee;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}
#mobile-search .searchedword-list .live-ranking h3 {
  font-size: 2rem;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#mobile-search .searchedword-list .live-ranking h3 .current-time {
  color: #aaa;
  font-weight: 400;
  font-size: 1.6rem;
}
#mobile-search .searchedword-list .live-ranking .ranking-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "rank1 rank6" "rank2 rank7" "rank3 rank8" "rank4 rank9" "rank5 rank10";
  position: relative;
}
#mobile-search .searchedword-list .live-ranking .ranking-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background: #dcdcdc;
}
#mobile-search .searchedword-list .live-ranking .ranking-list li {
  padding: 10px 20px;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s;
}
#mobile-search .searchedword-list .live-ranking .ranking-list li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#mobile-search .searchedword-list .live-ranking .ranking-list li a span {
  display: inline-block;
  margin-right: 10px;
}
#mobile-search .searchedword-list .live-ranking .ranking-list li > span .fa-caret-up {
  color: #0dcc5a;
}
#mobile-search.active {
  position: fixed;
  top: 57px;
  left: 0;
  display: none;
  z-index: 3;
}

.container {
  width: 100%;
  margin-top: 185px;
}

.pay {
  display: inline-block;
  width: 35px;
  height: 20px;
  background: #0dcc5a;
  border-radius: 3px;
  font-size: 1.4rem;
  color: #fff;
  letter-spacing: normal;
  text-align: center;
}

footer {
  background: #3a3a3a;
  color: #fff;
}
footer .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  height: 404px;
}
footer .inner .footer-upper {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}
footer .inner .footer-upper .footer-upper-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer .inner .footer-upper .footer-upper-info .footer-company-guide ul {
  display: flex;
  gap: 20px;
}
footer .inner .footer-upper .footer-upper-info .footer-company-info ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-style: normal;
}
footer .inner .footer-lower {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  line-height: 1.4;
}
footer .inner .footer-lower .footer-lower-logo {
  width: 180px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
footer .inner .footer-lower .footer-lower-logo i {
  font-size: 15px;
}

@media screen and (max-width: 1280px) {
  .inner {
    width: 100%;
    padding: 0 2%;
  }
  #mobile-search {
    display: none;
  }
  #mobile-search.active {
    display: none;
  }
}
@media screen and (max-width: 840px) {
  html {
    font-size: 8px;
  }
  #header {
    display: none;
  }
  #mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
  }
  #mobile-category {
    display: none;
  }
  #mobile-category ul {
    display: flex;
  }
  #mobile-search {
    display: none;
  }
  #mobile-search.active {
    display: block;
  }
  footer .inner .footer-upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 20px;
  }
  footer .inner .footer-upper .footer-upper-info {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer .inner .footer-upper .footer-upper-info .footer-company-guide ul {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .inner .footer-lower {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}
@media screen and (max-width: 450px) {
  #mobile-menu .mobile-menu a img {
    width: 115px;
    height: 22px;
  }
  #mobile-menu .mobile-menu .menu-box {
    gap: 20px;
  }
  #mobile-menu .mobile-menu .menu-box a {
    font-size: 16px;
  }
  #mobile-category h3 {
    font-size: 1.4rem;
  }
  #mobile-category ul li .category-img span {
    width: 78px;
    padding: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.4rem;
  }
  #mobile-category ul li .category-sub ul li {
    padding: 12px 0;
    font-size: 1.6rem;
  }
  #mobile-category.active {
    top: 37px;
  }
  #mobile-search .mb-searchbox {
    position: relative;
    margin-bottom: 20px;
  }
  #mobile-search .mb-searchbox form {
    display: flex;
  }
  #mobile-search .mb-searchbox form button {
    font-size: 22px;
    padding: 0 15px;
  }
  #mobile-search .mb-searchbox form input[type=text] {
    width: 100%;
    height: 35px;
    background: #eee;
    border-radius: 20px;
    padding-left: 20px;
  }
  #mobile-search .mb-searchbox form input[type=submit] {
    position: absolute;
    top: 3px;
    right: 5px;
    width: 29px;
    height: 29px;
    background: url("../images/detail/search.png") center/cover no-repeat;
    border-radius: 50px;
    border: none;
    background-color: linear-gradient(to right, #0dcb5b, #08b980, #02a1af);
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.3s;
  }
  #mobile-search .mb-searchbox form input[type=submit]:hover {
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
  }
  #mobile-search .searchedword-list .recommendedwords ul {
    display: flex;
    gap: 5px;
  }
  #mobile-search .searchedword-list .recommendedwords ul li {
    padding: 10px;
    font-size: 1.4rem;
  }
  #mobile-search.active {
    top: 37px;
  }
}
/* variable */
.inner .container {
  width: 100%;
}
.inner .container .mypage {
  width: 100%;
  height: 30vh;
  display: flex;
  padding: 50px;
  /* mypage */
  /* mypage tabs*/
  /* mypageContent */
}
.inner .container .mypage .mypage-info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.inner .container .mypage .mypage-info .fa-face-grin {
  font-size: 70px;
}
.inner .container .mypage .mypage-info .mypage-info-desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.inner .container .mypage .mypage-info .mypage-info-desc .mypage-info-desc-fllw {
  color: darkgray;
}
.inner .container .mypage .mypage-desc {
  width: 100%;
  height: 100%;
}
.inner .container .mypage .mypage-desc .mypage-desc-stck {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner .container .mypage .mypage-desc .mypage-desc-stck .stck-100 {
  width: 500px;
  height: 15px;
  background: #f1f4f6;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.inner .container .mypage .mypage-desc .mypage-desc-stck .stck-100 .stck-user {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(to right, #0dcb5b, #08b980, #02a1af);
  border-radius: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}
.inner .container .mypage .mypage-desc .mypage-desc-stck .stck-100 .stck-user.active {
  width: 27%;
}
.inner .container .mypage .mypage-desc .mypage-desc-sub {
  display: flex;
  justify-content: space-around;
}
.inner .container .mypage .mypage-desc .mypage-desc-sub .mypage-desc-sub-hp {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.inner .container .mypage .mypage-desc .mypage-desc-sub .mypage-desc-sub-hp .mypage-desc-sub-hp-ttl {
  display: flex;
  gap: 10px;
}
.inner .container .mypage .mypage-desc .mypage-desc-sub .mypage-desc-sub-hp .mypage-desc-sub-hp-desc {
  padding-left: 25px;
}
.inner .container .mypage .mypage-desc .mypage-desc-sub .mypage-desc-sub-rp {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.inner .container .mypage .mypage-desc .mypage-desc-sub .mypage-desc-sub-rp .mypage-desc-sub-rp-ttl {
  display: flex;
  gap: 10px;
}
.inner .container .mypage .mypage-desc .mypage-desc-sub .mypage-desc-sub-rp .mypage-desc-sub-rp-desc {
  padding-left: 25px;
}
.inner .container .mypage .mypage {
  width: 100%;
  margin-top: 250px;
  overflow: hidden;
}
.inner .container .mypage .mypage-tabs {
  width: 100%;
}
.inner .container .mypage .mypage-tabs .mypage-tab {
  display: flex;
  align-items: center;
}
.inner .container .mypage .mypage-tabs .mypage-tab .mypageTabButton {
  background: #fafafa;
  width: 200px;
  height: 50px;
  border: 1px solid #dcdcdc;
  border-right: none;
  border-bottom: 1px solid #111;
  font-size: 1.6rem;
  line-height: 50px;
  color: #6d6d6d;
  text-align: center;
}
.inner .container .mypage .mypage-tabs .mypage-tab .mypageTabButton:first-child {
  border-radius: 8px 0 0 0;
}
.inner .container .mypage .mypage-tabs .mypage-tab .mypageTabButton:nth-child(3) {
  border-radius: 0 8px 0 0;
  border-right: 1px solid #dcdcdc;
}
.inner .container .mypage .mypage-tabs .mypage-tab .mypageTabButton.active {
  background: #fff;
  border: 1px solid #111;
  border-bottom: 1px solid #fff;
  font-weight: 600;
  color: #111;
}
.inner .container .mypage .mypage-tabs .mypage-tab .mypageTabButton.active .mypageTabCount {
  color: #0dcc5a;
}
.inner .container .mypage .mypage-tabs .mypage-tab > span {
  flex: 1;
  width: 200px;
  height: 50px;
  border-bottom: 1px solid #111;
}
.inner .container .mypage .mypageContent {
  width: 100%;
  height: 0;
  margin-top: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s;
}
.inner .container .mypage .mypageContent.active {
  height: auto;
  min-height: 340px;
  margin-top: 30px;
  opacity: 1;
}

/* mypage tabs*/
.mypage-tabs {
  width: 100%;
}
.mypage-tabs .mypage-tab {
  display: flex;
  align-items: center;
}
.mypage-tabs .mypage-tab .mypageTabButton {
  background: #fafafa;
  width: 200px;
  height: 50px;
  border: 1px solid #dcdcdc;
  border-right: none;
  border-bottom: 1px solid #111;
  font-size: 1.6rem;
  line-height: 50px;
  color: #6d6d6d;
  text-align: center;
}
.mypage-tabs .mypage-tab .mypageTabButton:first-child {
  border-radius: 8px 0 0 0;
}
.mypage-tabs .mypage-tab .mypageTabButton:nth-child(3) {
  border-radius: 0 8px 0 0;
  border-right: 1px solid #dcdcdc;
}
.mypage-tabs .mypage-tab .mypageTabButton.active {
  background: #fff;
  border: 1px solid #111;
  border-bottom: 1px solid #fff;
  font-weight: 600;
  color: #111;
}
.mypage-tabs .mypage-tab .mypageTabButton.active .mypageTabCount {
  color: #0dcc5a;
}
.mypage-tabs .mypage-tab > span {
  flex: 1;
  width: 200px;
  height: 50px;
  border-bottom: 1px solid #111;
}

/* mypageContent */
.mypageContent {
  width: 100%;
  height: 0;
  margin-top: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s;
}
.mypageContent.active {
  height: auto;
  min-height: 340px;
  margin-top: 30px;
  opacity: 1;
}

/* mypage-purchase-content */
.mypage-purchases-content .mypage-purchases-content-detail {
  width: 100%;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li {
  width: 100%;
  padding: 50px 0;
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #dcdcdc;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseImgWrapper {
  width: 150px;
  height: 150px;
  position: relative;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseImgWrapper .mypagePurchaseViewMore {
  width: inherit;
  height: inherit;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseImgWrapper .mypagePurchaseViewMore img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseImgWrapper .soldOutFilter {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseImgWrapper .soldOutFilter .soldOutFilterTxt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 2.5rem;
  line-height: 30px;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseImgWrapper .mypageHeart {
  position: absolute;
  top: 8px;
  right: 8px;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseImgWrapper .mypageHeart .fa-solid {
  color: crimson;
  font-size: 20px;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseDescGroup {
  flex: 1;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseDescGroup .mypagePurchaseDesc {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseDescGroup .mypagePurchaseDesc .mypagePurchaseViewMore {
  flex: 3;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseDescGroup .mypagePurchaseDesc .mypagePurchaseViewMore .mypagePurchaseInfo {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseDescGroup .mypagePurchaseDesc .mypagePurchaseViewMore .mypagePurchaseInfo .mypagePurchaseTitleBox {
  flex: 1;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseDescGroup .mypagePurchaseDesc .mypagePurchaseViewMore .mypagePurchaseInfo .mypagePurchaseTitleBox .mypagePurchaseSellerName {
  font-size: 1.4rem;
  color: #6d6d6d;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseDescGroup .mypagePurchaseDesc .mypagePurchaseViewMore .mypagePurchaseInfo .mypagePurchaseTitleBox .mypagePurchaseName {
  width: 100%;
  margin-top: 10px;
  line-height: 25px;
  font-size: 1.6rem;
  color: #111;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 2줄 넘어가면 말줄임 */
  -webkit-box-orient: vertical;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseDescGroup .mypagePurchaseDesc .mypagePurchaseViewMore .mypagePurchaseInfo .mypagePurchasePriceBox {
  flex: 1.5;
  display: flex;
  justify-content: space-around;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseDescGroup .mypagePurchaseDesc .mypagePurchaseViewMore .mypagePurchaseInfo .mypagePurchasePriceBox .mypagePurchasePriceInfo {
  width: 135px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseDescGroup .mypagePurchaseDesc .mypagePurchaseViewMore .mypagePurchaseInfo .mypagePurchasePriceBox .mypagePurchasePriceInfo .mypagePurchasePrice {
  font-size: 1.2rem;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseDescGroup .mypagePurchaseDesc .mypagePurchaseViewMore .mypagePurchaseInfo .mypagePurchasePriceBox .mypagePurchasePriceInfo .mypagePurchasePrice b {
  font-size: 1.8rem;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseDescGroup .mypagePurchaseDesc .mypagePurchaseViewMore .mypagePurchaseInfo .mypagePurchasePriceBox .mypagePurchasePriceInfo .pay {
  width: 35px;
  height: 20px;
  background: #0dcc5a;
  border-radius: 3px;
  font-size: 1.4rem;
  color: #fff;
  letter-spacing: normal;
  text-align: center;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseDescGroup .mypagePurchaseDesc .mypagePurchaseViewMore .mypagePurchaseInfo .mypagePurchasePriceBox .mypagePurchaseShippingInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.4rem;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseDescGroup .mypagePurchaseDesc .mypagePurchaseButtons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  gap: 20px;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseDescGroup .mypagePurchaseDesc .mypagePurchaseButtons button {
  display: inline-block;
  width: 50%;
  min-width: 75px;
  padding: 15px 0;
  background: #111;
  border-radius: 5px;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseDescGroup .mypagePurchaseDesc .mypagePurchaseButtons button.mypageItemChatButton {
  background: #0dcc5a;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseDescGroup .mypagePurchaseDesc .mypagePurchaseButtons button.mypagePurchaseXButton {
  width: 24px;
  min-width: 24px;
  height: 24px;
  padding: 0;
  text-align: center;
  line-height: 24px;
  background: transparent;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseDescGroup .mypagePurchaseDesc .mypagePurchaseButtons button.mypagePurchaseXButton .fa-xmark {
  color: #dcdcdc;
  font-size: 1.8rem;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseDescGroup .mypagePurchaseLower {
  display: flex;
  gap: 10px;
  font-size: 1.2rem;
  color: #6d6d6d;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseDescGroup .mypagePurchaseLower > p {
  width: 50px;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li .mypagePurchase .mypagePurchaseDescGroup .mypagePurchaseLower .mypagePurchaseCount {
  display: flex;
  gap: 10px;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li.soldOut {
  color: #dcdcdc;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li.soldOut .mypagePurchase .mypagePurchaseImgWrapper .soldOutFilter {
  opacity: 1;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li.soldOut .mypagePurchase .mypagePurchaseDescGroup .mypagePurchaseDesc .mypagePurchaseViewMore .mypagePurchaseInfo .mypagePurchaseTitleBox p {
  color: #dcdcdc;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li.soldOut .mypagePurchase .mypagePurchaseDescGroup .mypagePurchaseDesc .mypagePurchaseViewMore .mypagePurchaseInfo .mypagePurchasePriceBox .mypagePurchasePriceInfo > .pay {
  background: #dcdcdc;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li.soldOut .mypagePurchase .mypagePurchaseDescGroup .mypagePurchaseDesc .mypagePurchaseButtons button:not(.mypagePurchaseXButton) {
  background: #dcdcdc;
}
.mypage-purchases-content .mypage-purchases-content-detail .mypagePurchaseList li.soldOut .mypagePurchase .mypagePurchaseDescGroup .mypagePurchaseLower {
  color: #dcdcdc;
}

/* favorite stores content */
.mypage-sell-content .mypageSellGroup .mypageSellWrap > li {
  width: 100%;
  padding: 30px 0;
  border-bottom: 1px solid #dcdcdc;
  display: flex;
  align-items: center;
  gap: 20px;
}
.mypage-sell-content .mypageSellGroup .mypageSellWrap > li:first-child {
  padding-top: 0;
}
.mypage-sell-content .mypageSellGroup .mypageSellWrap > li .mypage-sell-info {
  width: 240px;
  height: 240px;
  padding: 15px;
  background: #111;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.mypage-sell-content .mypageSellGroup .mypageSellWrap > li .mypage-sell-info .mypage-sell-shopkeeper {
  width: 100%;
  text-align: center;
}
.mypage-sell-content .mypageSellGroup .mypageSellWrap > li .mypage-sell-info .mypage-sell-shopkeeper .mypageSellTitle img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.mypage-sell-content .mypageSellGroup .mypageSellWrap > li .mypage-sell-info .mypage-sell-shopkeeper .mypageSellTitle > p {
  width: 100%;
  margin-top: 10px;
  font-size: 1.6rem;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mypage-sell-content .mypageSellGroup .mypageSellWrap > li .mypage-sell-info .mypage-sell-score {
  width: 100%;
  color: #fff;
}
.mypage-sell-content .mypageSellGroup .mypageSellWrap > li .mypage-sell-info .mypage-sell-score .sell-score-desc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.mypage-sell-content .mypageSellGroup .mypageSellWrap > li .mypage-sell-info .mypage-sell-score .sell-score-desc .sell-score-title {
  font-size: 1rem;
}
.mypage-sell-content .mypageSellGroup .mypageSellWrap > li .mypage-sell-info .mypage-sell-score .sell-score-desc .sell-score-value {
  display: flex;
  align-items: flex-end;
  font-size: 0.8rem;
  letter-spacing: normal;
}
.mypage-sell-content .mypageSellGroup .mypageSellWrap > li .mypage-sell-info .mypage-sell-score .sell-score-desc .sell-score-value b {
  font-size: 1.2rem;
}
.mypage-sell-content .mypageSellGroup .mypageSellWrap > li .mypage-sell-info .mypage-sell-score .sell-score-desc .sell-score-value img {
  width: 13px;
  height: 13px;
  margin-left: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.mypage-sell-content .mypageSellGroup .mypageSellWrap > li .mypage-sell-info .mypage-sell-score .detail-bar {
  width: 100%;
  height: 8px;
  margin-top: 5px;
  background: #dcdcdc;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}
.mypage-sell-content .mypageSellGroup .mypageSellWrap > li .mypage-sell-info .mypage-sell-score .detail-bar .filling-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: attr(data-score);
  height: 100%;
  background: linear-gradient(to right, #0dcb5b, #08b980, #02a1af);
  border-radius: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}
.mypage-sell-content .mypageSellGroup .mypageSellWrap > li .mypage-sell-info .mypage-sell-follower {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mypage-sell-content .mypageSellGroup .mypageSellWrap > li .mypage-sell-info .mypage-sell-follower .mypage-sell-follower-box {
  display: flex;
  align-items: center;
  gap: 5px;
}
.mypage-sell-content .mypageSellGroup .mypageSellWrap > li .mypage-sell-info .mypage-sell-follower .mypage-sell-follower-box li {
  color: #fff;
  font-size: 1rem;
}
.mypage-sell-content .mypageSellGroup .mypageSellWrap > li .mypage-sell-info .mypage-sell-follower .mypage-sell-follower-box li span:not(.follower-box-title) {
  letter-spacing: normal;
}
.mypage-sell-content .mypageSellGroup .mypageSellWrap > li .mypage-sell-info .mypage-sell-follower .followButton .fa-solid {
  font-size: 1.6rem;
  color: #fff;
}
.mypage-sell-content .mypageSellGroup .mypageSellWrap > li .mypage-sell-products-box {
  flex: 1;
  height: 240px;
  overflow: hidden;
}
.mypage-sell-content .mypageSellGroup .mypageSellWrap > li .mypage-sell-products-box .mypage-sell-products {
  display: flex;
  align-items: center;
  gap: 20px;
}
.mypage-sell-content .mypageSellGroup .mypageSellWrap > li .mypage-sell-products-box .mypage-sell-products > li > a {
  display: inline-block;
  width: 240px;
  height: 240px;
}
.mypage-sell-content .mypageSellGroup .mypageSellWrap > li .mypage-sell-products-box .mypage-sell-products > li > a .mypageSellProductImg {
  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: 10px;
}

/* mypage reviews content */
.review-content .mypageReview #result .mypageReview {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.review-content .mypageReview #result .mypageReview .mypageReviewCon {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.review-content .mypageReview #result .mypageReview .mypageReviewCon #mypageReviewResult ul {
  display: flex;
  flex-direction: column;
}
.review-content .mypageReview #result .mypageReview .mypageReviewCon #mypageReviewResult ul li {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}
.review-content .mypageReview #result .mypageReview .mypageReviewCon #mypageReviewResult ul li img {
  width: 50px;
  height: 50px;
  border: 50%;
}
.review-content .mypageReview #result .mypageReview .mypageReviewCon #mypageReviewResult ul li .mypageReviewdesc {
  display: flex;
  flex-direction: column;
  gap: 5px;
}