// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
  padding-left: 10px;
  transition: all 0.3s;
  &::placeholder {
    opacity: 1;
    transition: all 0.3s;
  }
  &:focus {
    outline: none;
    &::placeholder {
      opacity: 0;
    }
  }
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  font: 400 1.3rem/1 "Noto Sans KR", sans-serif;
}
