@import "./common.scss";

/* variable */
$color-border: darkgray;
$font-dark: darkgray;
$font-light: #eee;
$bg-main-color: #0dcc5a;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .sign-in {
    width: 80%;
    padding: 50px 0 120px;

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .sign-in-ttl {
        width: 90%;
        height: 10vh;
        font-size: 2.6rem;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #000;
      }

      .inputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 10px;

        ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;

          li {
            width: 90%;
            height: 45px;
            border-bottom: 1.5px solid $font-light;
            padding-top: 15px;
            padding-left: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .sign-input {
              width: 100%;
              display: flex;
              gap: 40px;
              padding-bottom: 17px;
              .label {
                width: 50%;
                padding-top: 5px;
                padding-left: 20px;
                font-size: 1.6rem;
                span {
                  color: crimson;
                }
              }
              .inputbox {
                width: 80%;
                height: 30px;
                font-size: 1.4rem;
              }
              #phonelabel {
                width: 20%;
                display: flex;
                align-items: center;
                padding-bottom: 10px;
              }
              .phonewrapper {
                width: 50%;
                display: flex;
                align-items: center;
                gap: 20px;
                input {
                  width: 100px;
                  height: 30px;
                  border: 1px solid $font-light;
                  border-radius: 10px;
                  font-size: 1.4rem;
                }
              }
            }

            .error {
              width: 50%;
              color: crimson;
              font-size: 1.3rem;
              padding-bottom: 20px;
            }

            .token-wrapper {
              width: 90%;
              height: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
              padding-bottom: 20px;
              gap: 10%;

              .token-upperwrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                font-size: 1.4rem;
                #token-button {
                  width: 100px;
                  height: 30px;
                  font-size: 1.4rem;
                  border: 1px solid $color-border;
                  border-radius: 10px;
                }
              }

              .token-bottomwrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                font-size: 1.3rem;
                #token-timer-confirmBtn {
                  width: 100px;
                  height: 30px;
                  font-size: 1.4rem;
                  border: 1px solid $color-border;
                  border-radius: 10px;
                }
              }
            }
            .location-wrapper {
              width: 100%;
              position: relative;
              #location {
                width: 40%;
                height: 30px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 10px;
                font-size: 1.4rem;
                padding-left: 10px;
                &:focus {
                  outline: none;
                }
                option {
                  font-size: 1.4rem;
                }
              }
            }
            .gender-wrapper {
              width: 100%;
              position: relative;
              .gender-box {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: space-between;
                width: 50%;
                text-align: center;
                .gender {
                  width: 100%;
                  label {
                    font-size: 1.5rem;
                    #gender-woman {
                      width: 13px;
                      height: 13px;
                    }

                    #gender-man {
                      width: 13px;
                      height: 13px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .sign-in-footer {
        width: 70%;
        display: flex;
        justify-content: center;
        padding: 20px;
        border-top: 1px solid $font-light;

        #signup-button {
          width: 60%;
          height: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid $color-border;
          border-radius: 10px;
          padding-left: 0;
          font-size: 1.8rem;
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  html {
    font-size: 9px;
  }
  .container {
    width: 100%;
    justify-content: center;
    .sign-in {
      width: 100%;
      form {
        .sign-in-ttl {
          width: 100%;
          padding-top: 5px;
        }
        .inputs {
          padding-top: 10px;
          ul {
            padding: 0;
            gap: 5px;
            li {
              width: 100%;
              height: 45px;
              padding: 0;
              padding-left: 40px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              .sign-input {
                gap: 5px;
                padding-bottom: 0;
                .label {
                  text-align: left;
                  padding-top: 5px;
                  padding-left: 10px;
                  padding-bottom: 0;

                  width: 110px;
                }
                .inputbox {
                  width: 100%;
                  flex: 1;
                }
                .phonewrapper {
                  width: 100%;
                  display: flex;
                  flex-wrap: wrap;
                  align-items: center;
                  gap: 10px;
                  input {
                    display: flex;
                    width: 25%;
                    padding-left: 10px;
                  }
                }
              }
              .error {
                width: 80%;
                padding-top: 5px;
                padding-left: 30px;
                padding-bottom: 0;
                display: none;
              }
              .token-wrapper {
                gap: 20px;
                padding-bottom: 0;
                .token-upperwrapper {
                  #token-button {
                    width: 90px;
                    height: 30px;
                  }
                }
                .token-bottomwrapper {
                  #token-timer-confirmBtn {
                    width: 90px;
                    height: 30px;
                  }
                }
              }
              .location-wrapper {
                width: 100%;
                gap: 50px;
                #location {
                  width: 50%;
                  padding-left: 5px;
                }
              }
              .gender-wrapper {
                width: 100%;
                display: flex;
                gap: 50px;
                label {
                  display: inline-block;
                  width: 100%;
                  #gender-woman {
                    width: 15px;
                    height: 15px;
                  }
                  #gender-man {
                    width: 15px;
                    height: 15px;
                  }
                }
              }
            }
          }
        }
        .sign-in-footer {
          padding-top: 15px;
          #signup-button {
            width: 100%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .container {
    width: 100%;
    justify-content: center;
    .sign-in {
      width: 100%;
      padding: 30px 0 80px;
      form {
        .sign-in-ttl {
          width: 100%;
          padding-top: 5px;
        }
        .inputs {
          padding-top: 10px;
          ul {
            padding: 0;
            gap: 5px;
            li {
              width: 100%;
              height: 50px;
              padding: 0;
              padding-left: 10px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              .sign-input {
                gap: 5px;
                padding-bottom: 0;
                padding-left: 0;
                .label {
                  text-align: left;
                  padding-left: 0;
                  padding-bottom: 0;
                  padding-top: 7px;
                  width: 100px;
                }
                .inputbox {
                  width: 100%;
                  flex: 1;
                }
                .phonewrapper {
                  width: 80%;
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
                  align-items: center;
                  gap: 10px;
                  input {
                    display: flex;
                    width: 25%;
                  }
                }
              }
              .error {
                width: 80%;
                height: 10px;
                padding-top: 0;
                padding-left: 20%;
                padding-bottom: 0;
                display: none;
              }
              .token-wrapper {
                gap: 20px;
                padding-bottom: 0;
                .token-upperwrapper {
                  #token-button {
                    width: 80px;
                  }
                }
                .token-bottomwrapper {
                  #token-timer-confirmBtn {
                    width: 70px;
                  }
                }
              }
              .location-wrapper {
                width: 100%;
                gap: 50px;
                #location {
                  width: 50%;
                  padding-left: 5px;
                }
              }
              .gender-wrapper {
                width: 100%;
                display: flex;
                gap: 50px;
                label {
                  display: inline-block;
                  width: 100%;
                  #gender-woman {
                    width: 15px;
                    height: 15px;
                  }
                  #gender-man {
                    width: 15px;
                    height: 15px;
                  }
                }
              }
            }
          }
        }
        .sign-in-footer {
          padding: 0;
          padding-top: 15px;
        }
      }
    }
  }
}
