@import "./reset.css", "./common.css";

// responsive
@media screen and (max-width: 1280px) {
  .inner {
    width: 100%;
    padding: 0 10px;
  }
}
@media screen and (max-width: 840px) {
}
@media screen and (max-width: 450px) {
  :root {
    font-size: 8px;
  }
}
