@import "./common.scss";

// variables
$home-gradient: linear-gradient(to bottom, #89f6b5, #0dcc5a);

// font
@font-face {
  font-family: "JalnanGothic";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBAggroB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

// mix-in
@mixin sectionHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  .section-title {
    @include sectionTitle;
  }
  .view-more {
    a {
      font-size: 1.2rem;
      color: map-get($color, bg-dark-gray);
    }
  }
}

@mixin sectionTitle {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: -2px;
  cursor: default;
}

@mixin productSlide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 406px;
  overflow: hidden;
  .slideWrapper {
    position: absolute;
    left: 0;
    display: flex;
    gap: 20px;
    li {
      position: relative;
      a {
        width: 240px;
        height: 376px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .slide-img {
          width: 100%;
          height: 240px;
          border-radius: 10px;
          overflow: hidden;
        }
        .slide-desc {
          padding: 0 14px 14px;
          @include productDesc;
        }
      }
      .badge {
        @include badgeType;
      }
    }
  }
}

@mixin slideBtns {
  button {
    position: absolute;
    top: 35%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: map-get($color, bg-light-color);
    box-shadow: 0 5px 5px rgba($color: #000, $alpha: 0.3);
    transition: all 0.3s;
    i {
      font-size: 2rem;
      color: map-get($color, bg-dark-gray);
    }
    &.slidePrev {
      left: 0;
      transform: translateX(-50%);
      &:hover {
        transform: translate(-50%, 5%);
        box-shadow: 0 0 5px rgba($color: #000, $alpha: 0.3);
      }
    }
    &.slideNext {
      right: 0;
      transform: translateX(50%);
      &:hover {
        transform: translate(50%, 5%);
        box-shadow: 0 0 5px rgba($color: #000, $alpha: 0.3);
      }
    }
  }
}

@mixin slidePager {
  display: flex;
  justify-content: center;
  gap: 8px;
  span {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: map-get($color, bg-light-gray);
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background: map-get($color, bg-main-color);
    }
    // &.active {
    //   width: 40px;
    //   background: $home-gradient;
    // }
    &:first-child {
      width: 40px;
      background: $home-gradient;
    }
  }
}

@mixin productDesc {
  .desc-title {
    font: 400 1.6rem/1.4 "Noto Sans KR", sans-serif;
    width: 100%;
    height: 45px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
  .desc-price {
    display: block;
    margin: 10px 0 15px;
    font: 700 1.8rem/1 "Noto Sans KR", sans-serif;
    .current {
      font-size: 1.2rem;
      letter-spacing: 0;
      color: map-get($color, bg-sub-color);
    }
    .fixed {
      font-size: 1.2rem;
      text-decoration: line-through;
    }
  }
  .desc-info {
    font: 400 1.6rem/1 "Noto Sans KR", sans-serif;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: map-get($color, bg-dark-gray);
  }
}

@mixin badgeText {
  position: absolute;
  top: 50%;
  right: 12%;
  transform: translateY(-50%);
  font: 400 1.3rem/1 "JalnanGothic";
  letter-spacing: 0;
  color: map-get($color, bg-light-color);
  text-shadow: 0 0 1px map-get($color, main-font-color);
}

@mixin badgeType {
  position: absolute;
  top: 5%;
  right: -2%;
  width: 46px;
  height: 26px;
  cursor: pointer;
  &.badge-best {
    background: url("../images/badge-best.png") center/contain no-repeat;
    &::before {
      @include badgeText;
      content: "인기";
    }
  }
  &.badge-new {
    background: url("../images/badge-new.png") center/contain no-repeat;
    &::before {
      @include badgeText;
      content: "신규";
    }
  }
  &.badge-auction {
    background: url("../images/badge-auction.png") center/contain no-repeat;
    &::before {
      @include badgeText;
      content: "경매";
    }
  }
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

// main
// main-slide
#main-slide {
  // display: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  article {
    position: relative;
    height: 420px;
    .mainSlideWrapper {
      display: flex;
      justify-content: center;
      gap: 10px;
      position: absolute;
      top: 0;
      left: calc(50% - 1280px / 2 + 10px);
      a {
        position: relative;
        width: 420px;
        height: 420px;
        display: flex;
        align-items: flex-end;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          // background: rgba($color: #000, $alpha: 0.1);
          // backdrop-filter: blur(10px);
        }
        &.active::before {
          display: none;
        }
        .main-slide-desc {
          margin: 0 0 30px 30px;
          color: map-get($color, bg-light-color);
          text-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.2);
          // display: none;
          h2 {
            height: 84px;
            margin-bottom: 10px;
            font: 400 3rem/1.4 "JalnanGothic";
            letter-spacing: 0;
          }
          p {
            display: flex;
            align-items: center;
            gap: 5px;
            font: 400 1.8rem/1.4 "GmarketSansMedium";
          }
        }
      }
      &.animated {
        transition: all 0.5s ease-out;
      }
    }
    .main-slide-arrows {
      button {
        position: absolute;
        top: 50%;
        width: 58px;
        height: 58px;
        background: rgba($color: #fff, $alpha: 0.6);
        transition: all 0.3s;
        &.mainSlidePrev {
          left: calc(50% - 1280px / 2 + 10px);
          transform: translate(0, -50%);
        }
        &.mainSlideNext {
          left: calc(50% + 1280px / 2 + 10px);
          transform: translate(-100%, -50%);
        }
        i {
          font-size: 2.8rem;
          color: map-get($color, bg-dark-gray);
          transition: all 0.3s;
        }
        &:hover {
          background: map-get($color, bg-light-color);
          i {
            color: map-get($color, main-font-color);
          }
        }
      }
    }
  }
  .main-slide-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    .mainSlidePager {
      width: 180px;
      height: 15px;
      background: map-get($color, bg-light-gray);
      border-radius: 20px;
      overflow: hidden;
      position: relative;
      margin-right: 10px;
      span {
        position: absolute;
        top: 0;
        left: 0;
        // width: calc(100% / 3);
        height: 100%;
        background: map-get($color, bar-linear-gradient);
        transition: all 0.3s;
      }
    }
    button {
      width: 30px;
      height: 30px;
      border: 1px solid map-get($color, bg-light-gray);
      i {
        font-size: 1.6rem;
        color: map-get($color, bg-dark-gray);
      }
      &.mainSlidePause {
        display: block;
        &.active {
          display: none;
        }
      }
      &.mainSlidePlay {
        display: none;
        &.active {
          display: block;
        }
      }
    }
  }
}

// best-ranking
#best-ranking {
  // display: none;
  padding: 150px 0;
  .ranking-content {
    position: relative;
    .ranking-heading {
      @include sectionHeading;
    }
    .ranking-slide {
      @include productSlide;
    }
    .slide-btns {
      @include slideBtns;
      .slidePager {
        @include slidePager;
      }
    }
  }
}

// auction
#auction {
  // display: none;
  .auction-banner {
    width: 100%;
    height: 400px;
    background: linear-gradient(to bottom, #7bceff, #0095ee);
    overflow: hidden;
    .banner-content {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      .banner-desc {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        font-family: "SBAggroB";
        letter-spacing: 0;
        color: map-get($color, bg-light-color);
        text-shadow: 0 2px 5px rgba($color: #000, $alpha: 0.3);
        z-index: 0;
        cursor: default;
        margin-left: 50px;
        span {
          font-size: 2rem;
        }
        h2 {
          font-size: 5rem;
        }
        .timeEvent,
        strong {
          margin: 10px 0;
          font-size: 5rem;
          color: #fce44a;
        }
        p {
          font-size: 2.4rem;
          font-family: "GmarketSansMedium";
          b {
            color: #fce44a;
          }
        }
      }
      .banner-img {
        height: 100%;
        position: relative;
        z-index: 1;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0%;
        width: 40%;
        height: 100%;
        background: linear-gradient(to bottom, #005ac8, #044ba2);
        transform: translateY(-50%) skew(-25deg);
      }
    }
  }
  .auction-content {
    position: relative;
    margin-top: 80px;
    .auction-heading {
      @include sectionHeading;
    }
    .auction-slide {
      @include productSlide;
      .slide-img {
        background: url("../images/auction01.png") center/cover no-repeat;
      }
    }
    .slide-btns {
      @include slideBtns;
      .slidePager {
        @include slidePager;
      }
    }
  }
}

// weekly-item
#weekly-item {
  // display: none;
  .weekly-item-content {
    padding: 150px 0;
    .weekly-item-heading {
      @include sectionHeading;
    }
    .weekly-item-tabmenu {
      .tab-menu {
        display: flex;
        gap: 10px;
        margin-bottom: 30px;
        li {
          padding: 8px 12px;
          background: map-get($color, bg-light-color);
          border: 1px solid map-get($color, bg-light-gray);
          border-radius: 10px;
          font-size: 1.6rem;
          cursor: pointer;
          transition: all 0.3s;
          &.active {
            color: map-get($color, bg-light-color);
            background: map-get($color, bg-main-color);
            border: 1px solid transparent;
          }
        }
      }
      .tab-content {
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
        li {
          width: calc((100% - 70px) / 3);
          height: 150px;
          a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            .tab-content-img {
              width: 150px;
              height: 100%;
              border-radius: 10px;
              background: url("../images/tab-content01.png") center/cover
                no-repeat;
            }
            .tab-content-desc {
              width: calc(100% - 150px);
              padding: 10px 10px 10px 20px;
              @include productDesc;
            }
          }
        }
      }
    }
  }
}

// event
#event {
  .event-content {
    .event-heading {
      @include sectionHeading;
      margin-bottom: 30px;
    }
    .event-slide {
      overflow: hidden;
      ul {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
        a {
          display: inline-block;
          width: 410px;
          height: 155px;
          border: 1px solid map-get($color, bg-light-gray);
          border-radius: 10px;
          // background: url("../images/event-banner01.png") center/cover no-repeat;
        }
      }
      .slidePager {
        @include slidePager;
      }
    }
  }
}

// recommended
#recommended {
  padding: 150px 0;
  .recommended-content {
    position: relative;
    .recommended-heading {
      @include sectionHeading;
    }
    .recommended-slide {
      @include productSlide;
      .slide-img {
        background: url("../images/best-ranking01.png") center/cover no-repeat;
      }
    }
    .slide-btns {
      @include slideBtns;
      .slidePager {
        @include slidePager;
      }
    }
  }
}

// safe-service
#safe-service {
  width: 100%;
  height: 400px;
  background: linear-gradient(to right, #696a6c, #e1e2e4);
  cursor: default;
  .safe-service-content {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    .safe-service-desc {
      color: map-get($color, bg-light-color);
      h2 {
        font: 400 4.5rem/1 "GmarketSansBold";
        margin-bottom: 10px;
      }
      span {
        display: block;
        font-size: 1.8rem;
      }
      p {
        font: 400 2.4rem/1.3 "GmarketSansMedium";
        margin: 20px 0;
      }
      #modalBtn {
        position: relative;
        padding: 18px 32px;
        font-size: 1.8rem;
        border-radius: 8px;
        background: #141414;
        color: map-get($color, bg-light-color);
        transition: all 0.3s;
        &:hover {
          // background: map-get($color, bg-sub-color);
          background: #268cfb;
        }
      }
    }
    .safe-service-banner {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 60%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

// safeserviceModal
#safeserviceModal {
  position: fixed;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  width: 100%;
  height: 70vh;
  background: map-get($color, bg-light-color);
  border-radius: 50px 50px 0 0;
  overflow: hidden;
  opacity: 1;
  z-index: 1;
  transition: all 0.5s;
  .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    & > div {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 100px;
    }
    .modal-left {
      justify-content: end;
      background: #2d2d2d url("../images/safe-service-modal-point.png") 20% 20%/30%
        no-repeat;
      .modal-title {
        text-align: end;
        h2 {
          font: 400 3rem/1.3 "Noto Sans KR", sans-serif;
          margin-bottom: 30px;
          color: map-get($color, bg-light-color);
        }
        p {
          color: #ccc;
          font-size: 2rem;
          margin: 10px 0;
          b {
            color: map-get($color, bg-light-color);
          }
        }
        h6 {
          font: 400 3.6rem/1 "GmarketSansBold";
          color: map-get($color, bg-main-color);
          text-shadow: 0 4px 10px rgba($color: #000, $alpha: 0.8);
          margin-top: 40px;
        }
      }
    }
    .modal-right {
      justify-content: flex-start;
      background: map-get($color, bg-light-color);
      ul {
        li {
          height: 160px;
          display: flex;
          align-items: center;
          gap: 30px;
          .modal-img {
            width: 160px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .modal-desc {
            width: 300px;
            h5 {
              font: 400 1.8rem/1 "GmarketSansMedium";
              margin-bottom: 10px;
            }
            p {
              font: 400 1.4rem/1.4 "Noto Sans KR", sans-serif;
              em {
                font-style: normal;
                color: map-get($color, bg-main-color);
              }
            }
          }
          &:nth-child(2) {
            .modal-img img {
              width: 80%;
            }
          }
        }
      }
    }
  }
  .closeBtn {
    position: absolute;
    top: 5%;
    right: 4%;
    padding: 5px;
    color: map-get($color, bg-dark-gray);
    font-size: 2.6rem;
    transition: all 0.3s;
    z-index: 1;
    &:hover {
      color: map-get($color, main-font-color);
    }
  }
  &.active {
    transform: translateY(0);
    opacity: 1;
  }
}
.modal-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: rgba($color: #000, $alpha: 0.2);
  backdrop-filter: blur(2px);
  opacity: 0;
  cursor: pointer;
  transition: all 0.5s;
  &.active {
    opacity: 1;
    height: 100vh;
  }
}

@media screen and (max-width: 1280px) {
  // main-slide
  #main-slide {
    article {
      .main-slide-arrows {
        button {
          width: 40px;
          height: 40px;
          &.mainSlidePrev {
            left: 2%;
          }
          &.mainSlideNext {
            left: 98%;
          }
          i {
            font-size: 2rem;
          }
        }
      }
    }
  }

  // best-ranking
  #best-ranking {
    .ranking-content {
      .slide-btns {
        @include slideBtns;
        button {
          &.slidePrev {
            transform: translateX(0);
            &:hover {
              transform: translate(0, 5%);
            }
          }
          &.slideNext {
            transform: translateX(0);
            &:hover {
              transform: translate(0, 5%);
            }
          }
        }
      }
    }
  }

  // auction
  #auction {
    .auction-banner {
      .banner-content {
        align-items: flex-end;
        .banner-desc {
          width: 45%;
          span {
            font-size: 1.8rem;
          }
          h2 {
            font-size: 3.6rem;
          }
          .timeEvent {
            font-size: 4rem;
            margin: 10px 0;
          }
          p {
            font-size: 2rem;
          }
        }
        .banner-img {
          height: 80%;
        }
      }
    }
    .auction-content {
      .slide-btns {
        @include slideBtns;
        button {
          &.slidePrev {
            transform: translateX(0);
            &:hover {
              transform: translate(0, 5%);
            }
          }
          &.slideNext {
            transform: translateX(0);
            &:hover {
              transform: translate(0, 5%);
            }
          }
        }
      }
    }
  }

  // weekly-item
  #weekly-item {
    .weekly-item-content {
      .weekly-item-tabmenu {
        .tab-content {
          justify-content: center;
          gap: 10px;
          li {
            width: calc((100% - 10px) / 2);
          }
        }
      }
    }
  }

  // event
  #event {
    .event-content {
      .event-slide {
        ul {
          justify-content: center;
        }
      }
    }
  }

  // recommended
  #recommended {
    .recommended-content {
      .slide-btns {
        @include slideBtns;
        button {
          &.slidePrev {
            transform: translateX(0);
            &:hover {
              transform: translate(0, 5%);
            }
          }
          &.slideNext {
            transform: translateX(0);
            &:hover {
              transform: translate(0, 5%);
            }
          }
        }
      }
    }
  }

  // safe-service
  #safe-service {
    height: 350px;
    .safe-service-content {
      align-items: flex-start;
      .safe-service-desc {
        position: relative;
        z-index: 1;
        padding-top: 5%;
        h2 {
          font-size: 3rem;
        }
        span {
          font-size: 1.4rem;
        }
        p {
          font: 400 2.2rem/1.3 "GmarketSansMedium";
        }
        #modalBtn {
          padding: 12px 26px;
          font-size: 1.6rem;
          border-radius: 5px;
        }
      }
    }
  }

  // safeserviceModal
  #safeserviceModal {
    .modal-content {
      & > div {
        padding: 30px;
      }
      .modal-left {
        background: #2d2d2d url("../images/safe-service-modal-point.png") 5% 50%/25%
          no-repeat;
        .modal-title {
          h2 {
            font: 400 2.2rem/1.3 "Noto Sans KR", sans-serif;
            margin-bottom: 20px;
          }
          p {
            font-size: 1.8rem;
            margin: 10px 0;
          }
          h6 {
            font: 400 3.3rem/1.2 "GmarketSansBold";
            margin-top: 20px;
          }
        }
      }
      .modal-right {
        ul {
          li {
            gap: 10px;
            .modal-img {
              width: 140px;
            }
            .modal-desc {
              width: 100%;
            }
            &:nth-child(2) {
              .modal-img img {
                width: 70%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 840px) {
  // best-ranking
  #best-ranking {
    .ranking-content {
      .ranking-slide {
        height: 396px;
        .slideWrapper {
          li {
            a {
              height: 366px;
              .slide-desc {
                .desc-title {
                  height: 36px;
                }
              }
            }
          }
        }
      }
    }
  }

  // auction
  #auction {
    .auction-banner {
      height: auto;
      .banner-content {
        flex-direction: column;
        align-items: center;
        padding-top: 5%;
        .banner-desc {
          width: 100%;
          align-items: center;
          text-align: center;
          margin-left: 0;
          span {
            font-size: 2.2rem;
          }
          h2 {
            font-size: 4rem;
          }
          .timeEvent {
            font-size: 4.4rem;
            margin: 10px 0;
          }
          p {
            font-size: 2.2rem;
          }
        }
        .banner-img {
          width: 50%;
          height: auto;
        }
        &::before {
          width: 70%;
          left: 50%;
          transform: translate(-50%, -50%) skew(-25deg);
        }
      }
    }
    .auction-content {
      .auction-slide {
        height: 396px;
        .slideWrapper {
          li {
            a {
              height: 366px;
              .slide-desc {
                .desc-title {
                  height: 36px;
                }
              }
            }
          }
        }
      }

      .slide-btns {
        @include slideBtns;
        button {
          &.slidePrev {
            transform: translateX(0);
            &:hover {
              transform: translate(0, 5%);
            }
          }
          &.slideNext {
            transform: translateX(0);
            &:hover {
              transform: translate(0, 5%);
            }
          }
        }
      }
    }
  }

  // weekly-item
  #weekly-item {
    .weekly-item-content {
      .weekly-item-tabmenu {
        .tab-menu {
          flex-wrap: wrap;
          justify-content: center;
        }
        .tab-content {
          justify-content: center;
          li {
            height: 100px;
            a {
              .tab-content-img {
                width: 100px;
              }
              .tab-content-desc {
                width: calc(100% - 100px);
                padding: 5px 10px;
                .desc-title {
                  height: 36px;
                }
                .desc-price {
                  margin: 5px 0 10px;
                }
              }
            }
          }
        }
      }
    }
  }

  // event
  #event {
    .event-content {
      .event-slide {
        ul {
          a {
            width: 300px;
            height: 100px;
          }
        }
      }
    }
  }

  // recommended
  #recommended {
    .recommended-content {
      .recommended-slide {
        height: 396px;
        .slideWrapper {
          li {
            a {
              height: 366px;
              .slide-desc {
                .desc-title {
                  height: 36px;
                }
              }
            }
          }
        }
      }
    }
  }

  // safe-service
  #safe-service {
    height: auto;
    .safe-service-content {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      .safe-service-desc {
        padding-top: 50px;
        text-align: center;
        span {
          margin: 10px 0;
        }
        p {
          margin: 15px 0;
        }
      }
      .safe-service-banner {
        position: static;
        width: 100%;
      }
    }
  }

  // safeserviceModal
  #safeserviceModal {
    height: 80vh;
    .modal-content {
      flex-direction: column;
      & > div {
        width: 100%;
        height: 50%;
        padding: 20px;
      }
      .modal-left {
        justify-content: center;
        .modal-title {
          text-align: center;
          h2 {
            font: 400 2.4rem/1.3 "Noto Sans KR", sans-serif;
            margin-bottom: 20px;
          }
          p {
            font-size: 1.6rem;
            margin: 10px 0;
          }
          h6 {
            font: 400 3.2rem/1.2 "GmarketSansBold";
            margin-top: 20px;
          }
        }
      }
      .modal-right {
        justify-content: center;
        ul {
          li {
            height: 90px;
            margin: 5px 0;
            .modal-img {
              width: 120px;
            }
            .modal-desc {
              width: 100%;
            }
            &:nth-child(2) {
              .modal-img img {
                width: 70%;
              }
            }
          }
        }
      }
    }
    .closeBtn {
      color: map-get($color, bg-light-color);
      &:hover {
        color: map-get($color, bg-main-color);
      }
    }
  }
}

@media screen and (max-width: 450px) {
  // weekly-item
  #weekly-item {
    .weekly-item-content {
      .weekly-item-tabmenu {
        .tab-content {
          flex-direction: column;
          justify-content: center;
          gap: 10px;
          li {
            width: 100%;
            a {
              justify-content: center;
              .tab-content-img {
                width: 100px;
              }
              .tab-content-desc {
                width: calc(90% - 100px);
                .desc-title {
                  height: 36px;
                }
              }
            }
          }
        }
      }
    }
  }
}
