@import "./style.scss", "./common.scss";

/* wishlist */
.wishlist {
  width: 100%;
  margin-top: 50px;
}

/* wishlist tabs*/
.wishlist-tabs {
  width: 100%;
  .wishlist-tab {
    display: flex;
    align-items: center;
    .wishlistTabButton {
      background: #fafafa;
      width: 200px;
      height: 50px;
      border: 1px solid map-get($color, bg-light-gray);
      border-right: none;
      border-bottom: 1px solid map-get($color, main-font-color);
      font-size: map-get($fontSize, font-medium);
      line-height: 50px;
      color: map-get($color, bg-dark-gray);
      text-align: center;
      &:first-child {
        border-radius: 8px 0 0 0;
      }
      &:nth-child(3) {
        border-radius: 0 8px 0 0;
        border-right: 1px solid map-get($color, bg-light-gray);
      }
      &.active {
        background: map-get($color, bg-light-color);
        border: 1px solid map-get($color, main-font-color);
        border-bottom: 1px solid #fff;
        font-weight: 600;
        color: map-get($color, main-font-color);
        .wishlistTabCount {
          color: map-get($color, bg-main-color);
        }
      }
    }
    & > span {
      flex: 1;
      width: 200px;
      height: 50px;
      border-bottom: 1px solid map-get($color, main-font-color);
    }
  }
}

/* wishlist content */
.wishlistContent {
  width: 100%;
  margin-top: 0;
  opacity: 0;
  transition: all 0.3s;
  &.active {
    margin-top: 30px;
    opacity: 1;
  }
  &.wish-items-content {
    .wish-items-content-upper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      border-bottom: 1px solid map-get($color, bg-light-gray);
      .wish-items-delete-selection {
        display: flex;
        align-items: center;
        gap: 10px;
        #deleteSeletionButton {
          border: 1px solid map-get($color, main-font-color);
          border-radius: 2px;
          padding: 3px 5px;
          cursor: pointer;
        }
      }
    }
    .wish-items-sorting-wrapper {
      .sorting-group {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        li {
          font-size: map-get($fontSize, font-extra-small);
          a {
            font-size: map-get($fontSize, font-small);
            color: map-get($color, bg-dark-gray);
            &.active {
              font-weight: 600;
              color: map-get($color, main-font-color);
            }
          }
        }
      }
    }
  }
  .wish-items-content-detail {
    width: 100%;
    .wishItemList {
      li {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        gap: 20px;
        border-bottom: 1px solid map-get($color, bg-light-gray);

        .wishItem {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 30px;
          .wishItemImgWrapper {
            width: 100px;
            height: 100px;
            position: relative;
            img {
              width: inherit;
              height: inherit;
              object-fit: cover;
              position: absolute;
              top: 0;
              left: 0;
            }
            .wishHeart {
              position: absolute;
              top: 8px;
              right: 8px;
              .fa-solid {
                color: crimson;
                font-size: map-get($fontSize, font-medium);
              }
            }
          }
          .wishItemDescGroup {
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
            .wishItemDesc {
              height: 80px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              .wishItemInfo {
                width: 700px;
                display: flex;
                justify-content: space-between;
                .wishItemTitleBox {
                  width: 300px;
                  height: 80px;
                  .wishItemSellerName {
                    font-size: map-get($fontSize, font-small);
                    color: map-get($color, bg-dark-gray);
                  }
                  .wishItemName {
                    width: 100%;
                    margin-top: 10px;
                    line-height: 25px;
                    font-size: map-get($fontSize, font-medium);
                    color: map-get($color, main-font-color);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2; /* 2줄 넘어가면 말줄임 */
                    -webkit-box-orient: vertical;
                  }
                }
                .wishItemPriceBox {
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  .wishItemPrice {
                    font-size: map-get($fontSize, font-extra-small);
                    b {
                      font-size: map-get($fontSize, font-large);
                    }
                  }
                  .pay {
                    width: 35px;
                    height: 20px;
                    background: map-get($color, bg-main-color);
                    border-radius: 3px;
                    font-size: map-get($fontSize, font-small);
                    color: map-get($color, bg-light-color);
                    letter-spacing: normal;
                    text-align: center;
                  }
                }
                .wishItemShippingInfo {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  gap: 10px;
                  font-size: map-get($fontSize, font-small);
                }
              }
              .wishItemButtons {
                a {
                  display: inline-block;
                  padding: 15px 20px;
                  margin-right: 20px;
                  background: map-get($color, main-font-color);
                  border-radius: 5px;
                  color: map-get($color, bg-light-color);
                  font-size: map-get($fontSize, font-medium);
                  &.wishItemChatButton {
                    background: map-get($color, bg-main-color);
                  }
                  &.wishItemProposalButton {
                    display: none;
                  }
                  &.wishItemXButton {
                    width: 24px;
                    height: 24px;
                    padding: 0;
                    margin-right: 0;
                    margin-left: 10px;
                    text-align: center;
                    line-height: 24px;
                    background: transparent;
                    .fa-xmark {
                      color: map-get($color, bg-light-gray);
                      font-size: map-get($fontSize, font-large);
                    }
                  }
                }
              }
            }
            .wishItemLower {
              display: flex;
              gap: 10px;
              font-size: map-get($fontSize, font-extra-small);
              color: map-get($color, bg-dark-gray);
              & > p {
                width: 50px;
              }
              .wishItemCount {
                display: flex;
                gap: 10px;
              }
            }
          }
        }

        &.soldOut {
          color: map-get($color, bg-light-gray);
          .wishItem .wishItemDescGroup {
            .wishItemDesc {
              .wishItemInfo {
                .wishItemTitleBox p {
                  color: map-get($color, bg-light-gray);
                }
              }
              .wishItemButtons {
                a {
                }
              }
            }
            .wishItemLower {
              color: map-get($color, bg-light-gray);
            }
          }
        }
      }
    }
  }
}
