@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
  padding-left: 10px;
  transition: all 0.3s;
}
input::-moz-placeholder {
  opacity: 1;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
input::placeholder {
  opacity: 1;
  transition: all 0.3s;
}
input:focus {
  outline: none;
}
input:focus::-moz-placeholder {
  opacity: 0;
}
input:focus::placeholder {
  opacity: 0;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  font: 400 1.3rem/1 "Noto Sans KR", sans-serif;
}

html {
  font-size: 10px;
}

body {
  font: 400 1.4rem/1 "Noto Sans KR", sans-serif;
  letter-spacing: -1px;
  color: #111;
}

.inner {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 100;
}
#header #banner.ban {
  height: 33px;
  background: #3a3a3a;
  opacity: 1;
  transition: all 0.3s;
}
#header #banner.ban.active {
  background: #fff;
  opacity: 0;
  height: 0;
}
#header #banner.ban .banner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}
#header #banner.ban .banner .banner-left {
  display: flex;
  gap: 15px;
}
#header #banner.ban .banner .banner-left a {
  display: flex;
  gap: 5px;
}
#header #banner.ban .banner .banner-left a span {
  color: #fff;
}
#header #banner.ban .banner .banner-right {
  display: flex;
  gap: 20px;
}
#header #banner.ban .banner .banner-right a {
  color: #fff;
}
#header #header-item .header-item {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#header #header-item .header-item .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header #header-item .header-item .header-top .search-box form {
  position: relative;
  border: 1px solid #6d6d6d;
  border-radius: 50px;
}
#header #header-item .header-item .header-top .search-box form input[type=text] {
  width: 550px;
  height: 40px;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 10px;
}
#header #header-item .header-item .header-top .search-box form input[type=text]::-moz-placeholder {
  font-size: 1.2rem;
}
#header #header-item .header-item .header-top .search-box form input[type=text]::placeholder {
  font-size: 1.2rem;
}
#header #header-item .header-item .header-top .search-box form button {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: none;
  background-color: #0dcc5a;
  color: #fff;
  cursor: pointer;
}
#header #header-item .header-item .header-top .wrapper {
  position: relative;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord {
  position: relative;
  width: 193px;
  height: 24px;
  overflow: hidden;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord li {
  position: absolute;
  top: -24px;
  left: 0;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord li.prev {
  top: -24px;
  transition: top 0.5s;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord li.current {
  top: 0;
  transition: top 0.5s;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord li.next {
  top: 24px;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord li a span {
  display: inline-block;
  margin-right: 10px;
}
#header #header-item .header-item .header-top .wrapper .list-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(0);
  transition: all 0.3s;
}
#header #header-item .header-item .header-top .wrapper .list-btn.active {
  transform: translateY(-50%) rotate(180deg);
}
#header #header-item .header-item .header-top .wrapper .list {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  transition: all 0.5s;
  overflow: hidden;
}
#header #header-item .header-item .header-top .wrapper .list.active {
  height: 350px;
  background: #fff;
}
#header #header-item .header-item .header-top .wrapper .list li {
  padding-top: 20px;
}
#header #header-item .header-item .header-top .wrapper .list li a span {
  display: inline-block;
  margin-right: 10px;
}
#header #header-item .header-item .header-bottom {
  display: flex;
  justify-content: space-between;
}
#header #header-item .header-item .header-bottom .header-bottom-left {
  display: flex;
  gap: 40px;
}
#header #header-item .header-item .header-bottom .header-bottom-left .barmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 8px 10px;
  background: #0dcc5a;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
#header #header-item .header-item .header-bottom .header-bottom-left .barmenu i {
  font-size: 24px;
}
#header #header-item .header-item .header-bottom .header-bottom-left .gnb {
  display: flex;
  align-items: center;
  gap: 30px;
}
#header #header-item .header-item .header-bottom .header-bottom-left .gnb a {
  font-size: 1.6rem;
}
#header #header-item .header-item .header-bottom .header-bottom-right {
  display: flex;
  align-items: center;
}
#header #header-item .header-item .header-bottom .header-bottom-right .lnb {
  display: flex;
  gap: 12px;
}
#header #header-item .header-item .header-bottom .header-bottom-right .lnb li a {
  display: flex;
  align-items: center;
}
#header #header-item .header-item .header-bottom .header-bottom-right .lnb li a img {
  margin-right: 4px;
}

.container {
  width: 100%;
  margin-top: 185px;
}

.pay {
  display: inline-block;
  width: 35px;
  height: 20px;
  background: #0dcc5a;
  border-radius: 3px;
  font-size: 1.4rem;
  color: #fff;
  letter-spacing: normal;
  text-align: center;
}

footer {
  background: #3a3a3a;
  color: #fff;
}
footer .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  height: 404px;
}
footer .inner .footer-upper {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}
footer .inner .footer-upper .footer-upper-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer .inner .footer-upper .footer-upper-info .footer-company-guide ul {
  display: flex;
  gap: 20px;
}
footer .inner .footer-upper .footer-upper-info .footer-company-info ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-style: normal;
}
footer .inner .footer-lower {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  line-height: 1.4;
}
footer .inner .footer-lower .footer-lower-logo {
  width: 180px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
footer .inner .footer-lower .footer-lower-logo i {
  font-size: 15px;
}

@media screen and (max-width: 1280px) {
  .inner {
    width: 100%;
    padding: 0 10px;
  }
}
@media screen and (max-width: 840px) {
  footer .inner .footer-upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 20px;
  }
  footer .inner .footer-upper .footer-upper-info {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer .inner .footer-upper .footer-upper-info .footer-company-guide ul {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .inner .footer-lower {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 8px;
  }
}
/* wishlist */
.wishlist {
  width: 100%;
  margin-top: 50px;
  overflow: hidden;
}

/* wishlist tabs*/
.wishlist-tabs {
  width: 100%;
}
.wishlist-tabs .wishlist-tab {
  display: flex;
  align-items: center;
}
.wishlist-tabs .wishlist-tab .wishlistTabButton {
  background: #fafafa;
  width: 200px;
  height: 50px;
  border: 1px solid #dcdcdc;
  border-right: none;
  border-bottom: 1px solid #111;
  font-size: 1.6rem;
  line-height: 50px;
  color: #6d6d6d;
  text-align: center;
}
.wishlist-tabs .wishlist-tab .wishlistTabButton:first-child {
  border-radius: 8px 0 0 0;
}
.wishlist-tabs .wishlist-tab .wishlistTabButton:nth-child(3) {
  border-radius: 0 8px 0 0;
  border-right: 1px solid #dcdcdc;
}
.wishlist-tabs .wishlist-tab .wishlistTabButton.active {
  background: #fff;
  border: 1px solid #111;
  border-bottom: 1px solid #fff;
  font-weight: 600;
  color: #111;
}
.wishlist-tabs .wishlist-tab .wishlistTabButton.active .wishlistTabCount {
  color: #0dcc5a;
}
.wishlist-tabs .wishlist-tab > span {
  flex: 1;
  width: 200px;
  height: 50px;
  border-bottom: 1px solid #111;
}

/* wishlist content */
.wishlistContent {
  width: 100%;
  height: 0;
  margin-top: 0;
  opacity: 0;
  transition: all 0.3s;
}
.wishlistContent.active {
  height: auto;
  min-height: 340px;
  margin-top: 30px;
  opacity: 1;
}
.wishlistContent.wish-items-content .wish-items-content-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #dcdcdc;
}
.wishlistContent.wish-items-content .wish-items-content-upper .wish-items-delete-selection {
  display: flex;
  align-items: center;
  gap: 20px;
}
.wishlistContent.wish-items-content .wish-items-content-upper .wish-items-delete-selection #deleteSeletionButton {
  border: 1px solid #111;
  border-radius: 2px;
  padding: 3px 5px;
  cursor: pointer;
}
.wishlistContent.wish-items-content .wish-items-content-upper .wish-items-sorting-wrapper .sorting-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.wishlistContent.wish-items-content .wish-items-content-upper .wish-items-sorting-wrapper .sorting-group li {
  font-size: 1.2rem;
}
.wishlistContent.wish-items-content .wish-items-content-upper .wish-items-sorting-wrapper .sorting-group li a {
  font-size: 1.4rem;
  color: #6d6d6d;
}
.wishlistContent.wish-items-content .wish-items-content-upper .wish-items-sorting-wrapper .sorting-group li a.active {
  font-weight: 600;
  color: #111;
}
.wishlistContent.wish-items-content .wish-items-content-detail {
  width: 100%;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li {
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #dcdcdc;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemImgWrapper {
  width: 100px;
  height: 100px;
  position: relative;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemImgWrapper img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemImgWrapper .soldOutFilter {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemImgWrapper .soldOutFilter .soldOutFilterTxt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 1.6rem;
  line-height: 20px;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemImgWrapper .wishHeart {
  position: absolute;
  top: 8px;
  right: 8px;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemImgWrapper .wishHeart .fa-solid {
  color: crimson;
  font-size: 1.6rem;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo {
  flex: 3;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo .wishItemTitleBox {
  flex: 1;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo .wishItemTitleBox .wishItemSellerName {
  font-size: 1.4rem;
  color: #6d6d6d;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo .wishItemTitleBox .wishItemName {
  width: 100%;
  margin-top: 10px;
  line-height: 25px;
  font-size: 1.6rem;
  color: #111;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 2줄 넘어가면 말줄임 */
  -webkit-box-orient: vertical;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo .wishItemPriceBox {
  flex: 1.5;
  display: flex;
  justify-content: space-around;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo .wishItemPriceBox .wishItemPriceInfo {
  width: 135px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo .wishItemPriceBox .wishItemPriceInfo .wishItemPrice {
  font-size: 1.2rem;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo .wishItemPriceBox .wishItemPriceInfo .wishItemPrice b {
  font-size: 1.8rem;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo .wishItemPriceBox .wishItemPriceInfo .pay {
  width: 35px;
  height: 20px;
  background: #0dcc5a;
  border-radius: 3px;
  font-size: 1.4rem;
  color: #fff;
  letter-spacing: normal;
  text-align: center;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo .wishItemPriceBox .wishItemShippingInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.4rem;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemButtons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  gap: 15px;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemButtons a {
  display: inline-block;
  width: 30%;
  min-width: 60px;
  padding: 15px 0;
  background: #111;
  border-radius: 5px;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemButtons a.wishItemChatButton {
  background: #0dcc5a;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemButtons a.wishItemProposalButton {
  display: none;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemButtons a.wishItemXButton {
  width: 24px;
  min-width: 24px;
  height: 24px;
  padding: 0;
  text-align: center;
  line-height: 24px;
  background: transparent;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemButtons a.wishItemXButton .fa-xmark {
  color: #dcdcdc;
  font-size: 1.8rem;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemLower {
  display: flex;
  gap: 10px;
  font-size: 1.2rem;
  color: #6d6d6d;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemLower > p {
  width: 50px;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemLower .wishItemCount {
  display: flex;
  gap: 10px;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li.soldOut {
  color: #dcdcdc;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li.soldOut .wishItem .wishItemImgWrapper .soldOutFilter {
  opacity: 1;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li.soldOut .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo .wishItemTitleBox p {
  color: #dcdcdc;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li.soldOut .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo .wishItemPriceBox .wishItemPriceInfo > .pay {
  background: #dcdcdc;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li.soldOut .wishItem .wishItemDescGroup .wishItemDesc .wishItemButtons a:not(.wishItemXButton) {
  background: #dcdcdc;
}
.wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li.soldOut .wishItem .wishItemDescGroup .wishItemLower {
  color: #dcdcdc;
}

@media screen and (max-width: 840px) {
  /* wishlist */
  .wishlist {
    width: 100%;
  }
  /* wishlist tabs*/
  .wishlist-tabs {
    width: 100%;
  }
  .wishlist-tabs .wishlist-tab {
    width: 100%;
  }
  .wishlist-tabs .wishlist-tab .wishlistTabButton {
    flex: 1;
  }
  /* wishlist content */
  .wishlistContent {
    width: 100%;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail {
    width: 100%;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList {
    width: 100%;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li {
    width: 100%;
    gap: 10px;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem {
    width: 100%;
    height: 150px;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemImgWrapper {
    width: 150px;
    height: 150px;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemImgWrapper .soldOutFilter .soldOutFilterTxt {
    width: 100px;
    height: 100px;
    font-size: 1.8rem;
    line-height: 30px;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup {
    flex: 1;
    gap: 5px;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo {
    width: 100%;
    height: auto;
    min-height: 100px;
    flex-direction: column;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo .wishItemTitleBox {
    flex: 0;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo .wishItemTitleBox .wishItemSellerName {
    font-size: 1.2rem;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo .wishItemTitleBox .wishItemName {
    width: 90%;
    margin-top: 5px;
    font-size: 1.4rem;
    line-height: 18px;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo .wishItemPriceBox {
    flex: 1;
    min-width: 200px;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo .wishItemPriceBox .wishItemPriceInfo {
    width: auto;
    justify-content: flex-start;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo .wishItemPriceBox .wishItemPriceInfo .wishItemPrice b {
    font-size: 1.6rem;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo .wishItemPriceBox .wishItemPriceInfo .pay {
    height: 16px;
    font-size: 1.2rem;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo .wishItemPriceBox .wishItemShippingInfo {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemButtons {
    width: 100%;
    justify-content: flex-start;
    align-self: center;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemButtons a {
    width: 80px;
    padding: 10px 0;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 450px) {
  /* wishlist */
  .wishlist {
    width: 100%;
  }
  /* wishlist tabs*/
  .wishlist-tabs {
    width: 100%;
  }
  .wishlist-tabs .wishlist-tab {
    width: 100%;
  }
  .wishlist-tabs .wishlist-tab .wishlistTabButton {
    flex: 1;
  }
  .wishlist-tabs .wishlist-tab > span {
    flex: 0;
  }
  /* wishlist content */
  .wishlistContent {
    width: 100%;
  }
  .wishlistContent.active {
    margin-top: 0;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail {
    width: 100%;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li {
    width: 150px;
    border-bottom: none;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li input[type=checkbox] {
    display: none;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem {
    width: 100%;
    height: 250px;
    flex-direction: column;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemImgWrapper {
    width: 150px;
    height: 150px;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemImgWrapper .wishHeart {
    top: 10px;
    right: 13px;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemImgWrapper .wishHeart .fa-solid {
    font-size: 22px;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemImgWrapper .soldOutFilter .soldOutFilterTxt {
    width: 100px;
    height: 100px;
    font-size: 3rem;
    line-height: 30px;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup {
    width: 100%;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo {
    min-height: 0;
    gap: 10px;
    align-items: center;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo .wishItemTitleBox {
    width: -moz-fit-content;
    width: fit-content;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo .wishItemTitleBox .wishItemSellerName {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1.4rem;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo .wishItemTitleBox .wishItemName {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1.6rem;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo .wishItemPriceBox {
    width: 100%;
    min-width: 0;
    justify-content: center;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo .wishItemPriceBox .wishItemPriceInfo .wishItemPrice b {
    font-size: 1.8rem;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo .wishItemPriceBox .wishItemPriceInfo .pay {
    height: 20px;
    font-size: 1.4rem;
    line-height: 15px;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemInfo .wishItemPriceBox .wishItemShippingInfo {
    display: none;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemDesc .wishItemButtons {
    display: none;
  }
  .wishlistContent.wish-items-content .wish-items-content-detail .wishItemList li .wishItem .wishItemDescGroup .wishItemLower {
    display: none;
  }
}