@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
  padding-left: 10px;
  transition: all 0.3s;
}
input::-moz-placeholder {
  opacity: 1;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
input::placeholder {
  opacity: 1;
  transition: all 0.3s;
}
input:focus {
  outline: none;
}
input:focus::-moz-placeholder {
  opacity: 0;
}
input:focus::placeholder {
  opacity: 0;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  font: 400 1.3rem/1 "Noto Sans KR", sans-serif;
}

html {
  font-size: 10px;
}

body {
  font: 400 1.4rem/1 "Noto Sans KR", sans-serif;
  letter-spacing: -1px;
  color: #111;
}

.inner {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 100;
}
#header #banner.ban {
  height: 33px;
  background: #3a3a3a;
  opacity: 1;
  transition: all 0.3s;
}
#header #banner.ban.active {
  background: #fff;
  opacity: 0;
  height: 0;
}
#header #banner.ban .banner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}
#header #banner.ban .banner .banner-left {
  display: flex;
  gap: 15px;
}
#header #banner.ban .banner .banner-left a {
  display: flex;
  gap: 5px;
}
#header #banner.ban .banner .banner-left a span {
  color: #fff;
}
#header #banner.ban .banner .banner-right {
  display: flex;
  gap: 20px;
}
#header #banner.ban .banner .banner-right a {
  color: #fff;
}
#header #header-item .header-item {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#header #header-item .header-item .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header #header-item .header-item .header-top .search-box form {
  position: relative;
  border: 1px solid #6d6d6d;
  border-radius: 50px;
}
#header #header-item .header-item .header-top .search-box form input[type=text] {
  width: 550px;
  height: 40px;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 10px;
}
#header #header-item .header-item .header-top .search-box form input[type=text]::-moz-placeholder {
  font-size: 1.2rem;
}
#header #header-item .header-item .header-top .search-box form input[type=text]::placeholder {
  font-size: 1.2rem;
}
#header #header-item .header-item .header-top .search-box form button {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: none;
  background-color: #0dcc5a;
  color: #fff;
  cursor: pointer;
}
#header #header-item .header-item .header-top .wrapper {
  position: relative;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord {
  position: relative;
  width: 193px;
  height: 24px;
  overflow: hidden;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord li {
  position: absolute;
  top: -24px;
  left: 0;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord li.prev {
  top: -24px;
  transition: top 0.5s;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord li.current {
  top: 0;
  transition: top 0.5s;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord li.next {
  top: 24px;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord li a span {
  display: inline-block;
  margin-right: 10px;
}
#header #header-item .header-item .header-top .wrapper .list-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(0);
  transition: all 0.3s;
}
#header #header-item .header-item .header-top .wrapper .list-btn.active {
  transform: translateY(-50%) rotate(180deg);
}
#header #header-item .header-item .header-top .wrapper .list {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  transition: all 0.5s;
  overflow: hidden;
}
#header #header-item .header-item .header-top .wrapper .list.active {
  height: 350px;
  background: #fff;
}
#header #header-item .header-item .header-top .wrapper .list li {
  padding-top: 20px;
}
#header #header-item .header-item .header-top .wrapper .list li a span {
  display: inline-block;
  margin-right: 10px;
}
#header #header-item .header-item .header-bottom {
  display: flex;
  justify-content: space-between;
}
#header #header-item .header-item .header-bottom .header-bottom-left {
  display: flex;
  gap: 40px;
}
#header #header-item .header-item .header-bottom .header-bottom-left .barmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 8px 10px;
  background: #0dcc5a;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
#header #header-item .header-item .header-bottom .header-bottom-left .barmenu i {
  font-size: 24px;
}
#header #header-item .header-item .header-bottom .header-bottom-left .gnb {
  display: flex;
  align-items: center;
  gap: 30px;
}
#header #header-item .header-item .header-bottom .header-bottom-left .gnb a {
  font-size: 1.6rem;
}
#header #header-item .header-item .header-bottom .header-bottom-right {
  display: flex;
  align-items: center;
}
#header #header-item .header-item .header-bottom .header-bottom-right .lnb {
  display: flex;
  gap: 12px;
}
#header #header-item .header-item .header-bottom .header-bottom-right .lnb li a {
  display: flex;
  align-items: center;
}
#header #header-item .header-item .header-bottom .header-bottom-right .lnb li a img {
  margin-right: 4px;
}

.container {
  width: 100%;
  margin-top: 185px;
}

footer {
  background: #3a3a3a;
  color: #fff;
}
footer .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  height: 404px;
}
footer .inner .footer-upper {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}
footer .inner .footer-upper .footer-upper-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer .inner .footer-upper .footer-upper-info .footer-company-guide ul {
  display: flex;
  gap: 20px;
}
footer .inner .footer-upper .footer-upper-info .footer-company-info ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-style: normal;
}
footer .inner .footer-lower {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  line-height: 1.4;
}
footer .inner .footer-lower .footer-lower-logo {
  width: 180px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
footer .inner .footer-lower .footer-lower-logo i {
  font-size: 15px;
}

@media screen and (max-width: 1280px) {
  .inner {
    width: 100%;
    padding: 0 10px;
  }
}
@media screen and (max-width: 840px) {
  footer .inner .footer-upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 20px;
  }
  footer .inner .footer-upper .footer-upper-info {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer .inner .footer-upper .footer-upper-info .footer-company-guide ul {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .inner .footer-lower {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 8px;
  }
}
@font-face {
  font-family: "JalnanGothic";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBAggroB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#main-slide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
#main-slide article {
  position: relative;
  height: 420px;
}
#main-slide article .mainSlideWrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 0;
  left: calc(50% - 640px);
}
#main-slide article .mainSlideWrapper a {
  position: relative;
  width: 420px;
  height: 420px;
  display: flex;
  align-items: flex-end;
  background: url("../images/main-slide02.png") center/cover no-repeat;
}
#main-slide article .mainSlideWrapper a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
#main-slide article .mainSlideWrapper a.active::before {
  display: none;
}
#main-slide article .mainSlideWrapper a .main-slide-desc {
  margin: 0 0 30px 30px;
}
#main-slide article .mainSlideWrapper a .main-slide-desc h2 {
  margin-bottom: 10px;
  font: 400 3rem/1.4 "JalnanGothic";
  letter-spacing: 0;
}
#main-slide article .mainSlideWrapper a .main-slide-desc p {
  font-size: 1.6rem;
}
#main-slide article .mainSlideWrapper a .main-slide-desc p i {
  margin-left: 10px;
}
#main-slide article .main-slide-arrows button {
  position: absolute;
  top: 50%;
  width: 58px;
  height: 58px;
  background: rgba(255, 255, 255, 0.6);
}
#main-slide article .main-slide-arrows button.mainSlidePrev {
  left: calc(50% - 640px);
  transform: translate(0, -50%);
}
#main-slide article .main-slide-arrows button.mainSlideNext {
  left: calc(50% + 640px);
  transform: translate(-100%, -50%);
}
#main-slide article .main-slide-arrows button i {
  font-size: 2.8rem;
}
#main-slide .main-slide-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
#main-slide .main-slide-btns .mainSlidePager {
  width: 180px;
  height: 15px;
  background: #dcdcdc;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin-right: 10px;
}
#main-slide .main-slide-btns .mainSlidePager span {
  position: absolute;
  top: 0;
  left: 0;
  width: 33.3333333333%;
  height: 100%;
  background: linear-gradient(to right, #0dcb5b, #08b980, #02a1af);
  transition: all 0.3s;
}
#main-slide .main-slide-btns button {
  width: 30px;
  height: 30px;
  border: 1px solid #dcdcdc;
}
#main-slide .main-slide-btns button i {
  font-size: 1.6rem;
  color: #6d6d6d;
}

#best-ranking {
  padding: 100px 0;
}
#best-ranking .ranking-content {
  position: relative;
}
#best-ranking .ranking-content .ranking-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
#best-ranking .ranking-content .ranking-heading .section-title {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: -2px;
}
#best-ranking .ranking-content .ranking-heading .view-more a {
  font-size: 1.2rem;
  color: #6d6d6d;
}
#best-ranking .ranking-content .ranking-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 406px;
  overflow: hidden;
}
#best-ranking .ranking-content .ranking-slide .slideWrapper {
  position: absolute;
  left: 0;
  display: flex;
  gap: 20px;
}
#best-ranking .ranking-content .ranking-slide .slideWrapper li {
  position: relative;
}
#best-ranking .ranking-content .ranking-slide .slideWrapper li a {
  width: 240px;
  height: 376px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#best-ranking .ranking-content .ranking-slide .slideWrapper li a .slide-img {
  width: 100%;
  height: 241px;
  border-radius: 10px;
  overflow: hidden;
}
#best-ranking .ranking-content .ranking-slide .slideWrapper li a .slide-desc {
  padding: 0 14px 14px;
}
#best-ranking .ranking-content .ranking-slide .slideWrapper li a .slide-desc .desc-title {
  font: 400 1.6rem/1.4 "Noto Sans KR", sans-serif;
}
#best-ranking .ranking-content .ranking-slide .slideWrapper li a .slide-desc .desc-price {
  display: block;
  margin: 10px 0;
  font: 700 1.8rem/1 "Noto Sans KR", sans-serif;
}
#best-ranking .ranking-content .ranking-slide .slideWrapper li a .slide-desc .desc-price .current {
  font-size: 1.2rem;
  letter-spacing: 0;
  color: #0095ee;
}
#best-ranking .ranking-content .ranking-slide .slideWrapper li a .slide-desc .desc-price .fixed {
  font-size: 1.2rem;
  text-decoration: line-through;
}
#best-ranking .ranking-content .ranking-slide .slideWrapper li a .slide-desc .desc-info {
  font: 400 1.6rem/1 "Noto Sans KR", sans-serif;
}
#best-ranking .ranking-content .ranking-slide .slideWrapper li .badge {
  position: absolute;
  top: 5%;
  right: -2%;
  width: 46px;
  height: 26px;
}
#best-ranking .ranking-content .ranking-slide .slideWrapper li .badge.badge-best {
  background: url("../images/badge-best.png") center/contain no-repeat;
}
#best-ranking .ranking-content .ranking-slide .slideWrapper li .badge.badge-best::before {
  position: absolute;
  top: 50%;
  right: 12%;
  transform: translateY(-50%);
  font: 400 1.3rem/1 "JalnanGothic";
  letter-spacing: 0;
  color: #fff;
  text-shadow: 0 0 1px #111;
  content: "인기";
}
#best-ranking .ranking-content .ranking-slide .slideWrapper li .badge.badge-new {
  background: url("../images/badge-new.png") center/contain no-repeat;
}
#best-ranking .ranking-content .ranking-slide .slideWrapper li .badge.badge-new::before {
  position: absolute;
  top: 50%;
  right: 12%;
  transform: translateY(-50%);
  font: 400 1.3rem/1 "JalnanGothic";
  letter-spacing: 0;
  color: #fff;
  text-shadow: 0 0 1px #111;
  content: "신규";
}
#best-ranking .ranking-content .ranking-slide .slideWrapper li .badge.badge-auction {
  background: url("../images/badge-auction.png") center/contain no-repeat;
}
#best-ranking .ranking-content .ranking-slide .slideWrapper li .badge.badge-auction::before {
  position: absolute;
  top: 50%;
  right: 12%;
  transform: translateY(-50%);
  font: 400 1.3rem/1 "JalnanGothic";
  letter-spacing: 0;
  color: #fff;
  text-shadow: 0 0 1px #111;
  content: "경매";
}
#best-ranking .ranking-content .ranking-slide .slide-img {
  background: url("../images/best-ranking01.png") center/cover no-repeat;
}
#best-ranking .ranking-content .slide-btns button {
  position: absolute;
  top: 35%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
#best-ranking .ranking-content .slide-btns button i {
  font-size: 2rem;
  color: #6d6d6d;
}
#best-ranking .ranking-content .slide-btns button.slidePrev {
  left: 0;
  transform: translateX(-50%);
}
#best-ranking .ranking-content .slide-btns button.slidePrev:hover {
  transform: translate(-50%, 5%);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}
#best-ranking .ranking-content .slide-btns button.slideNext {
  right: 0;
  transform: translateX(50%);
}
#best-ranking .ranking-content .slide-btns button.slideNext:hover {
  transform: translate(50%, 5%);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}
#best-ranking .ranking-content .slide-btns .slidePager {
  display: flex;
  justify-content: center;
  gap: 8px;
}
#best-ranking .ranking-content .slide-btns .slidePager span {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #dcdcdc;
}
#best-ranking .ranking-content .slide-btns .slidePager span.active {
  width: 40px;
  background: #0dcc5a;
}

#auction {
  padding-bottom: 100px;
}
#auction .auction-banner {
  width: 100%;
  height: 400px;
  background: linear-gradient(to bottom, #7bceff, #0095ee);
  margin-bottom: 30px;
}
#auction .auction-banner .banner-content {
  width: 100%;
  height: 100%;
  position: relative;
}
#auction .auction-banner .banner-content .banner-desc {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "SBAggroB";
  letter-spacing: 0;
  color: #fff;
}
#auction .auction-banner .banner-content .banner-desc span {
  font-size: 2.2rem;
}
#auction .auction-banner .banner-content .banner-desc h2 {
  font-size: 6rem;
}
#auction .auction-banner .banner-content .banner-desc strong {
  font-size: 6rem;
  color: #fce44a;
}
#auction .auction-banner .banner-content .banner-desc p {
  font-size: 2.4rem;
}
#auction .auction-banner .banner-content .banner-desc b {
  color: #fce44a;
}
#auction .auction-banner .banner-content .banner-img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
}
#auction .auction-banner .banner-content .banner-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#auction .auction-content {
  position: relative;
}
#auction .auction-content .auction-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
#auction .auction-content .auction-heading .section-title {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: -2px;
}
#auction .auction-content .auction-heading .view-more a {
  font-size: 1.2rem;
  color: #6d6d6d;
}
#auction .auction-content .auction-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 406px;
  overflow: hidden;
}
#auction .auction-content .auction-slide .slideWrapper {
  position: absolute;
  left: 0;
  display: flex;
  gap: 20px;
}
#auction .auction-content .auction-slide .slideWrapper li {
  position: relative;
}
#auction .auction-content .auction-slide .slideWrapper li a {
  width: 240px;
  height: 376px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#auction .auction-content .auction-slide .slideWrapper li a .slide-img {
  width: 100%;
  height: 241px;
  border-radius: 10px;
  overflow: hidden;
}
#auction .auction-content .auction-slide .slideWrapper li a .slide-desc {
  padding: 0 14px 14px;
}
#auction .auction-content .auction-slide .slideWrapper li a .slide-desc .desc-title {
  font: 400 1.6rem/1.4 "Noto Sans KR", sans-serif;
}
#auction .auction-content .auction-slide .slideWrapper li a .slide-desc .desc-price {
  display: block;
  margin: 10px 0;
  font: 700 1.8rem/1 "Noto Sans KR", sans-serif;
}
#auction .auction-content .auction-slide .slideWrapper li a .slide-desc .desc-price .current {
  font-size: 1.2rem;
  letter-spacing: 0;
  color: #0095ee;
}
#auction .auction-content .auction-slide .slideWrapper li a .slide-desc .desc-price .fixed {
  font-size: 1.2rem;
  text-decoration: line-through;
}
#auction .auction-content .auction-slide .slideWrapper li a .slide-desc .desc-info {
  font: 400 1.6rem/1 "Noto Sans KR", sans-serif;
}
#auction .auction-content .auction-slide .slideWrapper li .badge {
  position: absolute;
  top: 5%;
  right: -2%;
  width: 46px;
  height: 26px;
}
#auction .auction-content .auction-slide .slideWrapper li .badge.badge-best {
  background: url("../images/badge-best.png") center/contain no-repeat;
}
#auction .auction-content .auction-slide .slideWrapper li .badge.badge-best::before {
  position: absolute;
  top: 50%;
  right: 12%;
  transform: translateY(-50%);
  font: 400 1.3rem/1 "JalnanGothic";
  letter-spacing: 0;
  color: #fff;
  text-shadow: 0 0 1px #111;
  content: "인기";
}
#auction .auction-content .auction-slide .slideWrapper li .badge.badge-new {
  background: url("../images/badge-new.png") center/contain no-repeat;
}
#auction .auction-content .auction-slide .slideWrapper li .badge.badge-new::before {
  position: absolute;
  top: 50%;
  right: 12%;
  transform: translateY(-50%);
  font: 400 1.3rem/1 "JalnanGothic";
  letter-spacing: 0;
  color: #fff;
  text-shadow: 0 0 1px #111;
  content: "신규";
}
#auction .auction-content .auction-slide .slideWrapper li .badge.badge-auction {
  background: url("../images/badge-auction.png") center/contain no-repeat;
}
#auction .auction-content .auction-slide .slideWrapper li .badge.badge-auction::before {
  position: absolute;
  top: 50%;
  right: 12%;
  transform: translateY(-50%);
  font: 400 1.3rem/1 "JalnanGothic";
  letter-spacing: 0;
  color: #fff;
  text-shadow: 0 0 1px #111;
  content: "경매";
}
#auction .auction-content .auction-slide .slide-img {
  background: url("../images/auction01.png") center/cover no-repeat;
}
#auction .auction-content .slide-btns button {
  position: absolute;
  top: 35%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
#auction .auction-content .slide-btns button i {
  font-size: 2rem;
  color: #6d6d6d;
}
#auction .auction-content .slide-btns button.slidePrev {
  left: 0;
  transform: translateX(-50%);
}
#auction .auction-content .slide-btns button.slidePrev:hover {
  transform: translate(-50%, 5%);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}
#auction .auction-content .slide-btns button.slideNext {
  right: 0;
  transform: translateX(50%);
}
#auction .auction-content .slide-btns button.slideNext:hover {
  transform: translate(50%, 5%);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}
#auction .auction-content .slide-btns .slidePager {
  display: flex;
  justify-content: center;
  gap: 8px;
}
#auction .auction-content .slide-btns .slidePager span {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #dcdcdc;
}
#auction .auction-content .slide-btns .slidePager span.active {
  width: 40px;
  background: #0dcc5a;
}

#weekly-item .weekly-item-content {
  padding: 50px 0;
}
#weekly-item .weekly-item-content .weekly-item-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
#weekly-item .weekly-item-content .weekly-item-heading .section-title {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: -2px;
}
#weekly-item .weekly-item-content .weekly-item-heading .view-more a {
  font-size: 1.2rem;
  color: #6d6d6d;
}
#weekly-item .weekly-item-content .weekly-item-tabmenu .tab-menu {
  display: flex;
}
#weekly-item .weekly-item-content .weekly-item-tabmenu .tab-menu li {
  padding: 8px 10px;
}
#weekly-item .weekly-item-content .weekly-item-tabmenu .tab-menu li.active {
  background: #0dcc5a;
}

#event {
  padding: 50px 0;
}
#event .event-content .event-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-bottom: 30px;
}
#event .event-content .event-heading .section-title {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: -2px;
}
#event .event-content .event-heading .view-more a {
  font-size: 1.2rem;
  color: #6d6d6d;
}
#event .event-content .event-slide ul {
  display: flex;
  gap: 25px;
  margin-bottom: 20px;
}
#event .event-content .event-slide ul a {
  display: inline-block;
  width: 410px;
  height: 155px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  background: url("../images/event-banner01.png") center/cover no-repeat;
}
#event .event-content .event-slide .slidePager {
  display: flex;
  justify-content: center;
  gap: 8px;
}
#event .event-content .event-slide .slidePager span {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #dcdcdc;
}
#event .event-content .event-slide .slidePager span.active {
  width: 40px;
  background: #0dcc5a;
}

#recommended {
  padding: 50px 0 100px;
}
#recommended .recommended-content .recommended-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
#recommended .recommended-content .recommended-heading .section-title {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: -2px;
}
#recommended .recommended-content .recommended-heading .view-more a {
  font-size: 1.2rem;
  color: #6d6d6d;
}
#recommended .recommended-content .recommended-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 406px;
  overflow: hidden;
}
#recommended .recommended-content .recommended-slide .slideWrapper {
  position: absolute;
  left: 0;
  display: flex;
  gap: 20px;
}
#recommended .recommended-content .recommended-slide .slideWrapper li {
  position: relative;
}
#recommended .recommended-content .recommended-slide .slideWrapper li a {
  width: 240px;
  height: 376px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#recommended .recommended-content .recommended-slide .slideWrapper li a .slide-img {
  width: 100%;
  height: 241px;
  border-radius: 10px;
  overflow: hidden;
}
#recommended .recommended-content .recommended-slide .slideWrapper li a .slide-desc {
  padding: 0 14px 14px;
}
#recommended .recommended-content .recommended-slide .slideWrapper li a .slide-desc .desc-title {
  font: 400 1.6rem/1.4 "Noto Sans KR", sans-serif;
}
#recommended .recommended-content .recommended-slide .slideWrapper li a .slide-desc .desc-price {
  display: block;
  margin: 10px 0;
  font: 700 1.8rem/1 "Noto Sans KR", sans-serif;
}
#recommended .recommended-content .recommended-slide .slideWrapper li a .slide-desc .desc-price .current {
  font-size: 1.2rem;
  letter-spacing: 0;
  color: #0095ee;
}
#recommended .recommended-content .recommended-slide .slideWrapper li a .slide-desc .desc-price .fixed {
  font-size: 1.2rem;
  text-decoration: line-through;
}
#recommended .recommended-content .recommended-slide .slideWrapper li a .slide-desc .desc-info {
  font: 400 1.6rem/1 "Noto Sans KR", sans-serif;
}
#recommended .recommended-content .recommended-slide .slideWrapper li .badge {
  position: absolute;
  top: 5%;
  right: -2%;
  width: 46px;
  height: 26px;
}
#recommended .recommended-content .recommended-slide .slideWrapper li .badge.badge-best {
  background: url("../images/badge-best.png") center/contain no-repeat;
}
#recommended .recommended-content .recommended-slide .slideWrapper li .badge.badge-best::before {
  position: absolute;
  top: 50%;
  right: 12%;
  transform: translateY(-50%);
  font: 400 1.3rem/1 "JalnanGothic";
  letter-spacing: 0;
  color: #fff;
  text-shadow: 0 0 1px #111;
  content: "인기";
}
#recommended .recommended-content .recommended-slide .slideWrapper li .badge.badge-new {
  background: url("../images/badge-new.png") center/contain no-repeat;
}
#recommended .recommended-content .recommended-slide .slideWrapper li .badge.badge-new::before {
  position: absolute;
  top: 50%;
  right: 12%;
  transform: translateY(-50%);
  font: 400 1.3rem/1 "JalnanGothic";
  letter-spacing: 0;
  color: #fff;
  text-shadow: 0 0 1px #111;
  content: "신규";
}
#recommended .recommended-content .recommended-slide .slideWrapper li .badge.badge-auction {
  background: url("../images/badge-auction.png") center/contain no-repeat;
}
#recommended .recommended-content .recommended-slide .slideWrapper li .badge.badge-auction::before {
  position: absolute;
  top: 50%;
  right: 12%;
  transform: translateY(-50%);
  font: 400 1.3rem/1 "JalnanGothic";
  letter-spacing: 0;
  color: #fff;
  text-shadow: 0 0 1px #111;
  content: "경매";
}
#recommended .recommended-content .recommended-slide .slide-img {
  background: url("../images/best-ranking01.png") center/cover no-repeat;
}
#recommended .recommended-content .slidePager {
  display: flex;
  justify-content: center;
  gap: 8px;
}
#recommended .recommended-content .slidePager span {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #dcdcdc;
}
#recommended .recommended-content .slidePager span.active {
  width: 40px;
  background: #0dcc5a;
}

#safe-service {
  width: 100%;
  height: 400px;
  background: linear-gradient(to right, #696a6c, #e1e2e4);
}
#safe-service .safe-service-content {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
#safe-service .safe-service-content .safe-service-desc {
  color: #fff;
}
#safe-service .safe-service-content .safe-service-desc h2 {
  font-family: "GmarketSansBold";
  font-size: 4.5rem;
}
#safe-service .safe-service-content .safe-service-desc span {
  display: block;
  font-size: 2rem;
  margin: 20px 0 30px;
}
#safe-service .safe-service-content .safe-service-desc p {
  font: 600 2.6rem/1.5 "Noto Sans KR", sans-serif;
}
#safe-service .safe-service-content .safe-service-banner {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 220px;
}
#safe-service .safe-service-content .safe-service-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#safeserviceModal {
  position: fixed;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  width: 100%;
  height: 70vh;
  background: #fff;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.6);
  border-radius: 50px 50px 0 0;
  opacity: 0;
  transition: all 0.5s;
}
#safeserviceModal .modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#safeserviceModal .modal-content .modal-title {
  width: 50%;
  height: 100%;
  text-align: end;
  background: #eee;
  padding-top: 230px;
  padding-right: 100px;
  position: relative;
}
#safeserviceModal .modal-content .modal-title h2 {
  font: 400 3rem/1.2 "GmarketSansBold";
  margin-bottom: 30px;
}
#safeserviceModal .modal-content .modal-title p {
  color: #6d6d6d;
  font-size: 2rem;
  margin: 10px 0;
}
#safeserviceModal .modal-content ul {
  width: 50%;
  padding-left: 50px;
}
#safeserviceModal .modal-content ul li {
  height: 160px;
  display: flex;
  align-items: center;
  gap: 30px;
}
#safeserviceModal .modal-content ul li .modal-img {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#safeserviceModal .modal-content ul li .modal-img img {
  width: 100%;
  height: 100%;
}
#safeserviceModal .modal-content ul li .modal-desc {
  width: 300px;
}
#safeserviceModal .modal-content ul li .modal-desc h5 {
  font: 700 1.8rem/1.2 "Noto Sans KR", sans-serif;
  margin-bottom: 10px;
}
#safeserviceModal .modal-content ul li .modal-desc p {
  font: 400 1.4rem/1.4 "Noto Sans KR", sans-serif;
}
#safeserviceModal .modal-content ul li .modal-desc p em {
  font-style: normal;
  color: #0dcc5a;
}
#safeserviceModal .modal-content ul li:nth-child(2) .modal-img img {
  width: 80%;
}
#safeserviceModal .closeBtn {
  position: absolute;
  top: 5%;
  right: 4%;
  padding: 5px;
  color: #6d6d6d;
  font-size: 2.6rem;
  transition: all 0.3s;
}
#safeserviceModal .closeBtn:hover {
  color: #111;
}
#safeserviceModal.active {
  transform: translateY(0);
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
  padding-left: 10px;
  transition: all 0.3s;
}
input::-moz-placeholder {
  opacity: 1;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
input::placeholder {
  opacity: 1;
  transition: all 0.3s;
}
input:focus {
  outline: none;
}
input:focus::-moz-placeholder {
  opacity: 0;
}
input:focus::placeholder {
  opacity: 0;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  font: 400 1.3rem/1 "Noto Sans KR", sans-serif;
}

html {
  font-size: 10px;
}

body {
  font: 400 1.4rem/1 "Noto Sans KR", sans-serif;
  letter-spacing: -1px;
  color: #111;
}

.inner {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 100;
}
#header #banner.ban {
  height: 33px;
  background: #3a3a3a;
  opacity: 1;
  transition: all 0.3s;
}
#header #banner.ban.active {
  background: #fff;
  opacity: 0;
  height: 0;
}
#header #banner.ban .banner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}
#header #banner.ban .banner .banner-left {
  display: flex;
  gap: 15px;
}
#header #banner.ban .banner .banner-left a {
  display: flex;
  gap: 5px;
}
#header #banner.ban .banner .banner-left a span {
  color: #fff;
}
#header #banner.ban .banner .banner-right {
  display: flex;
  gap: 20px;
}
#header #banner.ban .banner .banner-right a {
  color: #fff;
}
#header #header-item .header-item {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#header #header-item .header-item .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header #header-item .header-item .header-top .search-box form {
  position: relative;
  border: 1px solid #6d6d6d;
  border-radius: 50px;
}
#header #header-item .header-item .header-top .search-box form input[type=text] {
  width: 550px;
  height: 40px;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 10px;
}
#header #header-item .header-item .header-top .search-box form input[type=text]::-moz-placeholder {
  font-size: 1.2rem;
}
#header #header-item .header-item .header-top .search-box form input[type=text]::placeholder {
  font-size: 1.2rem;
}
#header #header-item .header-item .header-top .search-box form button {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: none;
  background-color: #0dcc5a;
  color: #fff;
  cursor: pointer;
}
#header #header-item .header-item .header-top .wrapper {
  position: relative;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord {
  position: relative;
  width: 193px;
  height: 24px;
  overflow: hidden;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord li {
  position: absolute;
  top: -24px;
  left: 0;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord li.prev {
  top: -24px;
  transition: top 0.5s;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord li.current {
  top: 0;
  transition: top 0.5s;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord li.next {
  top: 24px;
}
#header #header-item .header-item .header-top .wrapper .popular-searchedWord li a span {
  display: inline-block;
  margin-right: 10px;
}
#header #header-item .header-item .header-top .wrapper .list-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(0);
  transition: all 0.3s;
}
#header #header-item .header-item .header-top .wrapper .list-btn.active {
  transform: translateY(-50%) rotate(180deg);
}
#header #header-item .header-item .header-top .wrapper .list {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  transition: all 0.5s;
  overflow: hidden;
}
#header #header-item .header-item .header-top .wrapper .list.active {
  height: 350px;
  background: #fff;
}
#header #header-item .header-item .header-top .wrapper .list li {
  padding-top: 20px;
}
#header #header-item .header-item .header-top .wrapper .list li a span {
  display: inline-block;
  margin-right: 10px;
}
#header #header-item .header-item .header-bottom {
  display: flex;
  justify-content: space-between;
}
#header #header-item .header-item .header-bottom .header-bottom-left {
  display: flex;
  gap: 40px;
}
#header #header-item .header-item .header-bottom .header-bottom-left .barmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 8px 10px;
  background: #0dcc5a;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
#header #header-item .header-item .header-bottom .header-bottom-left .barmenu i {
  font-size: 24px;
}
#header #header-item .header-item .header-bottom .header-bottom-left .gnb {
  display: flex;
  align-items: center;
  gap: 30px;
}
#header #header-item .header-item .header-bottom .header-bottom-left .gnb a {
  font-size: 1.6rem;
}
#header #header-item .header-item .header-bottom .header-bottom-right {
  display: flex;
  align-items: center;
}
#header #header-item .header-item .header-bottom .header-bottom-right .lnb {
  display: flex;
  gap: 12px;
}
#header #header-item .header-item .header-bottom .header-bottom-right .lnb li a {
  display: flex;
  align-items: center;
}
#header #header-item .header-item .header-bottom .header-bottom-right .lnb li a img {
  margin-right: 4px;
}

.container {
  width: 100%;
  margin-top: 185px;
}

footer {
  background: #3a3a3a;
  color: #fff;
}
footer .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  height: 404px;
}
footer .inner .footer-upper {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}
footer .inner .footer-upper .footer-upper-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer .inner .footer-upper .footer-upper-info .footer-company-guide ul {
  display: flex;
  gap: 20px;
}
footer .inner .footer-upper .footer-upper-info .footer-company-info ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-style: normal;
}
footer .inner .footer-lower {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  line-height: 1.4;
}
footer .inner .footer-lower .footer-lower-logo {
  width: 180px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
footer .inner .footer-lower .footer-lower-logo i {
  font-size: 15px;
}

@media screen and (max-width: 1280px) {
  .inner {
    width: 100%;
    padding: 0 10px;
  }
}
@media screen and (max-width: 840px) {
  footer .inner .footer-upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 20px;
  }
  footer .inner .footer-upper .footer-upper-info {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer .inner .footer-upper .footer-upper-info .footer-company-guide ul {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .inner .footer-lower {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 8px;
  }
}
html,
body {
  width: 100%;
  height: 100%;
}

/*body * {
  border: 1px solid rgba($color: #f00, $alpha: 0.1);
}*/
.wishlist {
  width: 100%;
  margin-top: 50px;
}
.wishlist .wishlist-tabs {
  width: 100%;
}
.wishlist .wishlist-tabs .wishlist-tab {
  display: flex;
  align-items: center;
}
.wishlist .wishlist-tabs .wishlist-tab .wishlistTabButton {
  background: #fafafa;
  width: 200px;
  height: 50px;
  border: 1px solid #dcdcdc;
  border-bottom: 1px solid #111;
  font-size: 1.6rem;
  line-height: 50px;
  color: #6d6d6d;
  text-align: center;
  /*&:last-child {
    flex: 1;
  }*/
}
.wishlist .wishlist-tabs .wishlist-tab .wishlistTabButton:first-child {
  border-radius: 8px 0 0 0;
}
.wishlist .wishlist-tabs .wishlist-tab .wishlistTabButton:nth-child(3) {
  border-radius: 0 8px 0 0;
}
.wishlist .wishlist-tabs .wishlist-tab .wishlistTabButton.active {
  background: #fff;
  border: 1px solid #111;
  border-bottom: 1px solid #fff;
  font-weight: 600;
  color: #111;
}
.wishlist .wishlist-tabs .wishlist-tab .wishlistTabButton.active .wishlistTabCount {
  color: #0dcc5a;
}
.wishlist .wishlist-tabs .wishlist-tab > span {
  flex: 1;
  width: 200px;
  height: 50px;
  border-bottom: 1px solid #111;
}
.wishlist .wishlistContent {
  display: none;
  width: 100%;
  margin-top: 30px;
}
.wishlist .wishlistContent.wish-items-content {
  display: block;
}
.wishlist .wishlistContent.wish-items-content .wish-items-content-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wishlist .wishlistContent.wish-items-content .wish-items-content-upper .wish-items-delete-selection {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wishlist .wishlistContent.wish-items-content .wish-items-content-upper .wish-items-delete-selection #deleteSeletionButton {
  border: 1px solid #111;
  border-radius: 2px;
  padding: 3px 5px;
  cursor: pointer;
}
.wishlist .wishlistContent.wish-items-content .wish-items-sorting-wrapper .sorting-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.wishlist .wishlistContent.wish-items-content .wish-items-sorting-wrapper .sorting-group li {
  font-size: 1.2rem;
}
.wishlist .wishlistContent.wish-items-content .wish-items-sorting-wrapper .sorting-group li a {
  font-size: 1.4rem;
  color: #6d6d6d;
}
.wishlist .wishlistContent.wish-items-content .wish-items-sorting-wrapper .sorting-group li a.active {
  font-weight: 600;
  color: #111;
}