@import "./style.scss", "./common.scss";

html,
body {
  width: 100%;
  height: 100%;
}

/*body * {
  border: 1px solid rgba($color: #f00, $alpha: 0.1);
}*/

.wishlist {
  width: 100%;
  margin-top: 50px;
  .wishlist-tabs {
    width: 100%;
    .wishlist-tab {
      display: flex;
      align-items: center;
      .wishlistTabButton {
        background: #fafafa;
        width: 200px;
        height: 50px;
        border: 1px solid map-get($color, bg-light-gray);
        border-bottom: 1px solid map-get($color, main-font-color);
        font-size: map-get($fontSize, font-medium);
        line-height: 50px;
        color: map-get($color, bg-dark-gray);
        text-align: center;
        &:first-child {
          border-radius: 8px 0 0 0;
        }
        &:nth-child(3) {
          border-radius: 0 8px 0 0;
        }
        /*&:last-child {
          flex: 1;
        }*/
        &.active {
          background: map-get($color, bg-light-color);
          border: 1px solid map-get($color, main-font-color);
          border-bottom: 1px solid #fff;
          font-weight: 600;
          color: map-get($color, main-font-color);
          .wishlistTabCount {
            color: map-get($color, bg-main-color);
          }
        }
      }
      & > span {
        flex: 1;
        width: 200px;
        height: 50px;
        border-bottom: 1px solid map-get($color, main-font-color);
      }
    }
  }
  .wishlistContent {
    display: none;
    width: 100%;
    margin-top: 30px;
    &.wish-items-content {
      display: block;
      .wish-items-content-upper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .wish-items-delete-selection {
          display: flex;
          align-items: center;
          gap: 10px;
          #deleteSeletionButton {
            border: 1px solid map-get($color, main-font-color);
            border-radius: 2px;
            padding: 3px 5px;
            cursor: pointer;
          }
        }
      }
      .wish-items-sorting-wrapper {
        .sorting-group {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          li {
            font-size: map-get($fontSize, font-extra-small);
            a {
              font-size: map-get($fontSize, font-small);
              color: map-get($color, bg-dark-gray);
              &.active {
                font-weight: 600;
                color: map-get($color, main-font-color);
              }
            }
          }
        }
      }
    }
  }
}
